<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Paramètres Parc</a></li>
    <li class="breadcrumb-item active" aria-current="page">Compagnie Petrolière</li>
  </ol>
</nav>

<!-- Alerte pour ajout avec succès -->
<ngb-alert *ngIf="alertAjoutVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Compagnie Petrolière Ajoutée avec succès
</ngb-alert>
<!-- Alerte pour ajout avec succès -->

<!-- Alerte pour mofifier avec succès -->
<ngb-alert *ngIf="alertModifVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Compagnie Petrolière Modifiée avec succès
</ngb-alert>
<!-- Alerte pour mofifier avec succès -->

<!-- Alerte pour supprimer avec succès -->
<ngb-alert *ngIf="alertSuppVisible" [dismissible]="false" class="alerte" [type]="'danger'">
  Compagnie Petrolière Supprimée avec succès
</ngb-alert>
<!-- Alerte pour supprimer avec succès -->

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <h4 class="card-title">Liste des Compagnies Petrolières</h4>
          <p class="text-secondary">Liste des Ccmpagnies Petrolières</p>
        </div>
        <button type="button" class="btn btn-primary align-self-center" data-bs-toggle="modal"
          data-bs-target="#add_compagniePetroliere">
          Ajouter
        </button>

      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Liste des Compagnies Petrolières</h6>
        <div class="row">
          <div class="col-xl-3 col-md-4">
            <input type="text" class="form-control form-control-sm" placeholder="Rechercher..."
              (keyup)="updateFilter($event)" />
          </div>
        </div>
        <div class="table-responsive">
          <ngx-datatable table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" rowHeight="auto" [scrollbarH]="true">
            <!-- <ngx-datatable-column name="ID" prop="id"></ngx-datatable-column> -->
            <ngx-datatable-column name="N°">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ rowIndex + 1 }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Compagnie Petroliere" prop="libelle"></ngx-datatable-column>
            <ngx-datatable-column name="Adresse" prop="adresse"></ngx-datatable-column>
            <ngx-datatable-column name="Date de création" prop="created_at">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date:'dd/MM/yyyy HH:mm:ss' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div ngbDropdown container="body" placement="bottom-right" class="mb-2">
                  <a class="no-dropdown-toggle-icon btn btn-primary" ngbDropdownToggle id="dropdownBasic_{{row.id}}">
                    <i class="icon-lg text-white pb-3px" data-feather="more-vertical" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu [attr.aria-labelledby]="'dropdownBasic_' + row.id">
                    <a ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal"
                       data-bs-target="#edit_compagniePetroliere" (click)="getEditForm(row)">
                      <i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span>Modifier</span>
                    </a>
                    <a ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal"
                       data-bs-target="#delete_compagniePetroliere" (click)="getDeleteForm(row)">
                      <i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span>Supprimer</span>
                    </a>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Add CompagniePetroliere Modal -->
<div id="add_compagniePetroliere" class="modal fade" tabindex="-1" aria-labelledby="addCompagniePetroliereLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="addCompagniePetroliereLabel">Ajouter une Compagnie Petrolière</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="addCompagniePetroliere" (ngSubmit)="onClickSubmitAddCompagniePetroliere()" novalidate>
          <!-- Nom de la CompagniePetroliere -->
          <div class="mb-3">
            <label for="compagniePetroliereName" class="form-label">Nom de la Compagnie Petrolière <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="compagniePetroliereName" placeholder="Entrez le nom de la Compagnie Petrolière"
              autocomplete="off"
              [class.invalid]="addCompagniePetroliere.get('libelle')?.invalid && addCompagniePetroliere.get('libelle')?.touched"
              formControlName="libelle">
            <div *ngIf="addCompagniePetroliere.get('libelle')?.invalid && addCompagniePetroliere.get('libelle')?.touched">
              <small *ngIf="addCompagniePetroliere.get('libelle')?.invalid && addCompagniePetroliere.get('libelle')?.touched"
                class="text-danger"> *le nom de la Compagnie Petrolière est obligatoire</small>
            </div>
          </div>
          <!-- adresse de la CompagniePetroliere -->
          <div class="mb-3">
            <label for="compagniePetroliereAdresse" class="form-label">Adresse de la Compagnie Petrolière <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="compagniePetroliereAdresse" placeholder="Entrez l'Adresse de la Compagnie Petrolière"
              autocomplete="off"
              [class.invalid]="addCompagniePetroliere.get('adresse')?.invalid && addCompagniePetroliere.get('adresse')?.touched"
              formControlName="adresse">
            <div *ngIf="addCompagniePetroliere.get('adresse')?.invalid && addCompagniePetroliere.get('adresse')?.touched">
              <small *ngIf="addCompagniePetroliere.get('adresse')?.invalid && addCompagniePetroliere.get('adresse')?.touched"
                class="text-danger"> *l'adresse de la Compagnie Petrolière est obligatoire</small>
            </div>
          </div>

          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">
              <div class="spinner-border spinner-border-sm text-light d-none" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Ajouter
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add Compagnie Petroliere Modal -->




<!-- edit Compagnie Petroliere Modal -->
<div id="edit_compagniePetroliere" class="modal fade" tabindex="-1" aria-labelledby="editCompagniePetroliereLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="editCompagniePetroliereLabel">Modification Compagnie Petrolière</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="editCompagniePetroliere" (ngSubmit)="onClickSubmitEditCompagniePetroliere()" novalidate>
          <!-- Nom de la CompagniePetroliere -->
          <div class="mb-3">
            <input type="hidden" formControlName="id">
            <label for="compagniePetroliereName" class="form-label">Nom de la Compagnie Petrolière <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="compagniePetroliereName" placeholder="Entrez le nom de la Compagnie Petrolière"
              autocomplete="off"
              [class.invalid]="editCompagniePetroliere.get('libelle')?.invalid && editCompagniePetroliere.get('libelle')?.touched"
              formControlName="libelle">
            <div *ngIf="editCompagniePetroliere.get('libelle')?.invalid && editCompagniePetroliere.get('libelle')?.touched">
              <small *ngIf="editCompagniePetroliere.get('libelle')?.invalid && editCompagniePetroliere.get('libelle')?.touched"
                class="text-danger"> *le nom de la Compagnie Petrolière est obligatoire</small>
            </div>
          </div>
          <!-- adresse de la CompagniePetroliere -->
          <div class="mb-3">
            <label for="compagniePetroliereAdresse" class="form-label">Adresse de la Compagnie Petrolière <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="compagniePetroliereAdresse" placeholder="Entrez l'adresse de la Compagnie Petrolière"
              autocomplete="off"
              [class.invalid]="editCompagniePetroliere.get('adresse')?.invalid && editCompagniePetroliere.get('adresse')?.touched"
              formControlName="adresse">
            <div *ngIf="editCompagniePetroliere.get('adresse')?.invalid && editCompagniePetroliere.get('adresse')?.touched">
              <small *ngIf="editCompagniePetroliere.get('adresse')?.invalid && editCompagniePetroliere.get('adresse')?.touched"
                class="text-danger"> *l'adresse de la Compagnie Petrolière est obligatoire</small>
            </div>
          </div>

          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">
              <div class="spinner-border spinner-border-sm text-light d-none spinnerModif" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Modifier
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /edit CompagniePetroliere Modal -->




<!-- delete CompagniePetroliere Modal -->
<div id="delete_compagniePetroliere" class="modal fade" tabindex="-1" aria-labelledby="deleteCompagniePetroliereLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="editCompagniePetroliereLabel">Suppression Compagnie Petrolière</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="deleteCompagniePetroliere"  (ngSubmit)="onClickSubmitDeleteCompagniePetroliere()">
          <div class="mb-3">
            <p class="text-secondary">Voulez-vous vraiment supprimer cette Compagnie Petrolière ?</p>
          </div>
          <input type="hidden" formControlName="id">
          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-danger">
              <div class="spinner-border spinner-border-sm text-light d-none spinnerDelete" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Supprimer
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /delete CompagniePetroliere Modal -->
