<!-- 🔥 CORRECTION : Changer !hasPageAccess en hasPageAccess -->
<div class="row" *ngIf="hasPageAccess">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Mouvement Stock</a></li>
      <li class="breadcrumb-item active" aria-current="page">Article Exercice</li>
    </ol>
  </nav>

  <!-- Alerte pour ajout avec succès -->
  <ngb-alert
    *ngIf="alertAjoutVisible"
    [dismissible]="false"
    class="alerte"
    [type]="'primary'"
  >
    Exercice Ajouté avec succès
  </ngb-alert>
  <!-- Alerte pour ajout avec succès -->

  <!-- Alerte pour mofifier avec succès -->
  <ngb-alert
    *ngIf="alertModifVisible"
    [dismissible]="false"
    class="alerte"
    [type]="'primary'"
  >
    Exercice Modifié avec succès
  </ngb-alert>
  <!-- Alerte pour mofifier avec succès -->

  <!-- Alerte pour supprimer avec succès -->
  <ngb-alert
    *ngIf="alertSuppVisible"
    [dismissible]="false"
    class="alerte"
    [type]="'danger'"
  >
    Exercice Supprimé avec succès
  </ngb-alert>
  <!-- Alerte pour supprimer avec succès -->

  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <h4 class="card-title">Recapitulatif</h4>
          <p class="text-secondary">Liste des Articles par exercices</p>
        </div>
<!--         <button
          type="button"
          class="btn btn-primary align-self-center"
          data-bs-toggle="modal"
          data-bs-target="#add_exercice"
        >
          Ajouter
        </button> -->
      </div>
    </div>
  </div>
</div>

<!-- 🔥 CORRECTION : Changer !hasPageAccess en hasPageAccess -->
<div class="row" *ngIf="hasPageAccess">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">-</h6>
        <div class="row mb-3 d-flex justify-content-between">
          <div class="col-xl-3 col-md-4">

          </div>
          <div class="col-xl-3 col-md-4 ml-2">
            <ng-select
              bindLabel="annee"
              bindValue="id"
              placeholder="Toutes les années"
              clearable="true">
            </ng-select>
          </div>
        </div>

        <div class="table-responsive">
          <ngx-datatable
            class="bootstrap"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            [limit]="10"
            rowHeight="auto"
            [scrollbarH]="true"
          >
            <ngx-datatable-column name="N°">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ rowIndex + 1 }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Article">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.article?.libelle }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Exercice">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.exercice?.annee }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Stock Début" prop="stock_debut_exercice"></ngx-datatable-column>
            <ngx-datatable-column name="Stock Fin" prop="stock_fin_exercice"></ngx-datatable-column>
            <ngx-datatable-column name="CMP Début" prop="cmp_debut_exercice"></ngx-datatable-column>
            <ngx-datatable-column name="CMP Fin" prop="cmp_fin_exercice"></ngx-datatable-column>


          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>


