<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Bienvenu sur le Tableau de Bord !</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    <div class="input-group w-200px me-2 mb-2 mb-md-0">
      <button class="btn btn-outline-primary btn-icon calendar" type="button">
        <i data-feather="calendar" appFeatherIcon></i>
      </button>
      <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd"
          name="dp" [(ngModel)]="currentDate" ngbDatepicker #d="ngbDatepicker" [disabled]="true">
    </div>
     <button type="button" class="btn btn-outline-primary btn-icon-text me-2 mb-2 mb-md-0">
      <i class="btn-icon-prepend" data-feather="printer" appFeatherIcon></i>
      Imprimer
    </button>
    <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
      <i class="btn-icon-prepend" data-feather="download-cloud" appFeatherIcon></i>
      Télécharger le rapport
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Tous les Articles</h6>
              <div ngbDropdown class="mb-2">
                <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton1">
                  <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                  <a ngbDropdownItem class="d-flex align-items-center" [routerLink]="['/etat-de-stock']"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">Voir Plus</span></a>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-6 col-md-12 col-xl-5"> -->
              <div class="">
                <h3 class="mb-2">{{ dataTableauBord?.total_article }}</h3>
                <div class="d-flex align-items-baseline">
                  <p class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Articles en Alerte">
                    <span>{{ dataTableauBord?.total_article_en_alerte }} en rupture de stock</span>
                    <i data-feather="alert-triangle" appFeatherIcon class="icon-sm mb-1 ms-1"></i>
                  </p>
                </div>
              </div>
              <!-- <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
                  <apx-chart
                    [series]="ordersChartOptions.series"
                    [chart]="ordersChartOptions.chart"
                    [colors]="ordersChartOptions.colors"
                    [plotOptions]="ordersChartOptions.plotOptions"
                    [xaxis]="ordersChartOptions.xaxis"
                  ></apx-chart>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Demande en attente</h6>
              <div ngbDropdown class="mb-2">
                <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton">
                  <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                  <a ngbDropdownItem class="d-flex align-items-center" [routerLink]="['/mouvement-stock/les-demandes']"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">Voir plus</span></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="">
                <h3 class="mb-2">{{ dataTableauBord?.total_demandes_en_attente ?? 0 }}</h3>
                <div class="d-flex align-items-baseline">
                  <p class="text-success" data-bs-placement="top" title="Demandes accordées">
                    <span>{{ dataTableauBord?.total_demandes_accorde }} demandes accordées</span>
                    <i data-feather="check-circle" class="icon-sm text-success mb-1 ms-1"></i>
                  </p>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Growth</h6>
              <div ngbDropdown class="mb-2">
                <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton2">
                  <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">89.87%</h3>
                <div class="d-flex align-items-baseline">
                  <p class="text-success">
                    <span>+2.8%</span>
                    <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i>
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
                  <apx-chart
                    [series]="growthChartOptions.series"
                    [chart]="growthChartOptions.chart"
                    [colors]="growthChartOptions.colors"
                    [xaxis]="growthChartOptions.xaxis"
                    [stroke]="growthChartOptions.stroke"
                    [markers]="growthChartOptions.markers"
                  ></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<!--
<div class="row">
  <div class="col-lg-7 col-xl-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Monthly sales</h6>
          <div ngbDropdown class="mb-2">
            <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton4">
              <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton4">
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
            </div>
          </div>
        </div>
        <p class="text-secondary">Sales are activities related to selling or the number of goods or services sold in a given time period.</p>
        <apx-chart
          [series]="monthlySalesChartOptions.series"
          [chart]="monthlySalesChartOptions.chart"
          [colors]="monthlySalesChartOptions.colors"
          [fill]="monthlySalesChartOptions.fill"
          [grid]="monthlySalesChartOptions.grid"
          [xaxis]="monthlySalesChartOptions.xaxis"
          [yaxis]="monthlySalesChartOptions.yaxis"
          [legend]="monthlySalesChartOptions.legend"
          [stroke]="monthlySalesChartOptions.stroke"
          [dataLabels]="monthlySalesChartOptions.dataLabels"
          [plotOptions]="monthlySalesChartOptions.plotOptions"
        ></apx-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-xl-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Cloud storage</h6>
          <div ngbDropdown class="mb-2">
            <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton5">
              <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton5">
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
            </div>
          </div>
        </div>
        <apx-chart
          [series]="cloudStorageChartOptions.series"
          [chart]="cloudStorageChartOptions.chart"
          [colors]="cloudStorageChartOptions.colors"
          [plotOptions]="cloudStorageChartOptions.plotOptions"
          [fill]="cloudStorageChartOptions.fill"
          [stroke]="cloudStorageChartOptions.stroke"
          [labels]="cloudStorageChartOptions.labels"
        ></apx-chart>
        <div class="row mb-3">
          <div class="col-6 d-flex justify-content-end">
            <div>
              <label class="d-flex align-items-center justify-content-end fs-10px text-uppercase fw-bold">Total storage <span class="p-1 ms-1 rounded-circle bg-secondary"></span></label>
              <h5 class="fw-bolder mb-0 text-end">8TB</h5>
            </div>
          </div>
          <div class="col-6">
            <div>
              <label class="d-flex align-items-center fs-10px text-uppercase fw-bold"><span class="p-1 me-1 rounded-circle bg-primary"></span> Used storage</label>
              <h5 class="fw-bolder mb-0">~5TB</h5>
            </div>
          </div>
        </div>
        <div class="d-grid">
          <button class="btn btn-primary">Upgrade storage</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

 <!-- <div class="row">
  <div class="col-lg-5 col-xl-4 grid-margin grid-margin-lg-0 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Inbox</h6>
          <div ngbDropdown class="mb-2">
            <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton6">
              <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton6">
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column">
          <a href="" (click)="false" class="d-flex align-items-center border-bottom pb-3">
            <div class="me-3">
              <img src="https://placehold.co/35x35" class="rounded-circle w-35px" alt="user">
            </div>
            <div class="w-100">
              <div class="d-flex justify-content-between">
                <h6 class="text-body mb-2">Leonardo Payne</h6>
                <p class="text-secondary fs-12px">12.30 PM</p>
              </div>
              <p class="text-secondary fs-13px">Hey! there I'm available...</p>
            </div>
          </a>
          <a href="" (click)="false" class="d-flex align-items-center border-bottom py-3">
            <div class="me-3">
              <img src="https://placehold.co/35x35" class="rounded-circle w-35px" alt="user">
            </div>
            <div class="w-100">
              <div class="d-flex justify-content-between">
                <h6 class="text-body mb-2">Carl Henson</h6>
                <p class="text-secondary fs-12px">02.14 AM</p>
              </div>
              <p class="text-secondary fs-13px">I've finished it! See you so..</p>
            </div>
          </a>
          <a href="" (click)="false" class="d-flex align-items-center border-bottom py-3">
            <div class="me-3">
              <img src="https://placehold.co/35x35" class="rounded-circle w-35px" alt="user">
            </div>
            <div class="w-100">
              <div class="d-flex justify-content-between">
                <h6 class="text-body mb-2">Jensen Combs</h6>
                <p class="text-secondary fs-12px">08.22 PM</p>
              </div>
              <p class="text-secondary fs-13px">This template is awesome!</p>
            </div>
          </a>
          <a href="" (click)="false" class="d-flex align-items-center border-bottom py-3">
            <div class="me-3">
              <img src="https://placehold.co/35x35" class="rounded-circle w-35px" alt="user">
            </div>
            <div class="w-100">
              <div class="d-flex justify-content-between">
                <h6 class="text-body mb-2">Amiah Burton</h6>
                <p class="text-secondary fs-12px">05.49 AM</p>
              </div>
              <p class="text-secondary fs-13px">Nice to meet you</p>
            </div>
          </a>
          <a href="" (click)="false" class="d-flex align-items-center border-bottom py-3">
            <div class="me-3">
              <img src="https://placehold.co/35x35" class="rounded-circle w-35px" alt="user">
            </div>
            <div class="w-100">
              <div class="d-flex justify-content-between">
                <h6 class="text-body mb-2">Yaretzi Mayo</h6>
                <p class="text-secondary fs-12px">01.19 AM</p>
              </div>
              <p class="text-secondary fs-13px">Hey! there I'm available...</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-5 col-xl-4 grid-margin grid-margin-lg-0 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-baseline mb-2">
            <h6 class="card-title mb-0">Utilisateurs du Système</h6>
            <div ngbDropdown class="mb-2">
              <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton6">
                <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
              </a>
              <div ngbDropdownMenu aria-labelledby="dropdownMenuButton6">
                <a ngbDropdownItem class="d-flex align-items-center" routerLink="/utilisateurs"><i data-feather="users" appFeatherIcon class="icon-sm me-2"></i> <span class="">Voir tous les utilisateurs</span></a>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column">
            @for (user of usersWithRoles; track user.id) {
              <a href="" (click)="false" class="d-flex align-items-center border-bottom pb-3 pt-3">
                <div class="me-3">
                  <img src="images/faces/user.png" alt="Avatar par défaut" class="img-fluid rounded-circle" style="max-width: 50px; max-height: 50px;">
                </div>
                <div class="w-100">
                  <div class="d-flex justify-content-between">
                    <h6 class="text-body mb-2">{{ user.name }} {{ user.surname || '' }}</h6>
                    <p class="text-secondary fs-12px">{{ user.last_activity | date:'shortDate' }}</p>
                  </div>
                  <p class="text-secondary fs-13px">
                    Rôle : {{ getRoleDisplay(user) }}
                  </p>
                </div>
              </a>
            } @empty {
              <div class="p-3 text-center text-muted">
                Aucun utilisateur trouvé.
              </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-xl-8 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-baseline mb-2">
            <h6 class="card-title mb-0">État du Stock</h6>
            <div ngbDropdown class="mb-2">
              <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton7">
                <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
              </a>
              <div ngbDropdownMenu aria-labelledby="dropdownMenuButton6">
                <a ngbDropdownItem class="d-flex align-items-center" routerLink="/etat-de-stock"><i data-feather="users" appFeatherIcon class="icon-sm me-2"></i> <span class="">Voir tous les utilisateurs</span></a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th class="pt-0">N°</th>
                  <th class="pt-0">Code Article</th>
                  <th class="pt-0">Article</th>
                  <th class="pt-0">Catégorie</th>
                  <th class="pt-0">Qte Actuelle</th>
                  <th class="pt-0">Statut</th>
                </tr>
              </thead>
              <tbody>
                @for (article of latestArticlesWithStock; track article.id; let i = $index) {
                  <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ article.code_article || 'N/A' }}</td>
                    <td>{{ article.libelle }}</td>
                    <td>{{ getCategoryName(article.id_cat) }}</td>
                    <td>
                      <span
                        [class]="getArticleStockBadgeClass(article.stock?.Qte_actuel || 0, article.seuil_alerte)"
                        class="text-white p-1 rounded d-inline-block"
                        style="min-width: 50px; text-align: center;"
                      >
                        {{ article.stock?.Qte_actuel || 0 }}
                      </span>
                    </td>
                    <!-- <td>{{ article.seuil_alerte }}</td> -->
                    <td>
                      <span [class]="getArticleStockBadgeClass(article.stock?.Qte_actuel || 0, article.seuil_alerte)">
                        {{ getArticleStockStatusText(article.stock?.Qte_actuel || 0, article.seuil_alerte) }}
                      </span>
                    </td>
                  </tr>
                } @empty {
                  <tr>
                    <td colspan="7" class="text-center text-muted py-4">
                      Aucun article afficher.
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>  
