<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Mouvement Stock</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sorties</li>
  </ol>
</nav>

<!-- Alerte pour ajout avec succès -->
<ngb-alert *ngIf="alertAjoutVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Mouvement Ajouté avec succès
</ngb-alert>
<!-- Alerte pour ajout avec succès -->

<!-- Alerte pour mofifier avec succès -->
<ngb-alert *ngIf="alertModifVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Mouvement Modifié avec succès
</ngb-alert>
<!-- Alerte pour mofifier avec succès -->

<!-- Alerte pour supprimer avec succès -->
<ngb-alert *ngIf="alertSuppVisible" [dismissible]="false" class="alerte" [type]="'danger'">
  Mouvement Supprimé avec succès
</ngb-alert>
<!-- Alerte pour supprimer avec succès -->

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <h4 class="card-title">Liste des Mouvements de Sorties</h4>
          <p class="text-secondary">Liste des Mouvements de Sorties</p>
        </div>
        <div class="d-flex gap-2">
          <button type="button" class="btn btn-primary align-self-center" data-bs-toggle="modal"
            data-bs-target="#add_sortie">
            Ajouter
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Liste des Mouvements de Sortie</h6>
        <div class="row">
          <div class="col-xl-3 col-md-4">
            <input type="text" class="form-control form-control-sm" placeholder="Rechercher..."
              (keyup)="updateFilter($event)" />
          </div>
        </div>
        <div class="table-responsive">
          <ngx-datatable table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" rowHeight="auto" [scrollbarH]="true">
            <!-- <ngx-datatable-column name="ID" prop="id"></ngx-datatable-column> -->
            <ngx-datatable-column name="N°">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ rowIndex + 1 }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Article">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.article?.libelle || 'N/A' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Description" prop="description"></ngx-datatable-column>
            <ngx-datatable-column name="Qte" prop="qte"></ngx-datatable-column>
            <ngx-datatable-column name="Date du mouvement" prop="date_mouvement"></ngx-datatable-column>
            <ngx-datatable-column name="Employé">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.affectation?.employe?.full_name || 'Non défini' }}
              </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Date de création" prop="created_at">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date:'dd/MM/yyyy HH:mm:ss' }}
              </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Actions">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div ngbDropdown container="body" placement="bottom-right" class="mb-2">
                  <a class="no-dropdown-toggle-icon btn btn-primary" ngbDropdownToggle id="dropdownBasic_{{row.id}}">
                    <i class="icon-lg text-white pb-3px" data-feather="more-vertical" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu [attr.aria-labelledby]="'dropdownBasic_' + row.id">
                    <a ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal"
                       data-bs-target="#edit_sortie" (click)="getEditForm(row)">
                      <i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span>Modifier</span>
                    </a>
                    <a ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal"
                       data-bs-target="#delete_sortie" (click)="getDeleteForm(row)">
                      <i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span>Supprimer</span>
                    </a>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Add mouvement sortie -->
<div id="add_sortie" class="modal fade" tabindex="-1" aria-labelledby="addSortieLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="addSortieLabel">Ajouter un Mouvement de Sortie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="addSortie" (ngSubmit)="onClickSubmitAddSortie()" novalidate>

          <!-- Sélectionner un article -->
          <div class="mb-3">
            <label for="sortie" class="form-label">Article <span class="text-danger">*</span></label>

            <ng-container *ngIf="articles && articles.length > 0; else noArticle">
              <ng-select [items]="articles" bindLabel="libelle" bindValue="id" formControlName="id_Article"
                [clearable]="true" placeholder="Sélectionnez l'Article" (change)="updateQuantiteDisponible()">
              </ng-select>

              <div *ngIf="addSortie.get('id_Article')?.invalid && addSortie.get('id_Article')?.touched">
                <small class="text-danger"> *L'Article est obligatoire</small>
              </div>
            </ng-container>




            <!-- Message si aucun article n'existe -->
            <ng-template #noArticle>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Article. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- Qte -->
          <div class="mb-3">
            <label for="qte" class="form-label">Quantité <span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="qte" placeholder="1" autocomplete="off"
              [attr.max]="quantiteDisponible" min="1"
              [class.invalid]="addSortie.get('qte')?.invalid && addSortie.get('qte')?.touched" formControlName="qte">
            <div class="text-danger mt-2">
              <small>Quantité disponible : {{ quantiteDisponible }}</small>
            </div>
            <div *ngIf="addSortie.get('qte')?.invalid && addSortie.get('qte')?.touched">
              <small *ngIf="addSortie.get('qte')?.errors?.['required']" class="text-danger">* La quantité est obligatoire</small>
              <small *ngIf="addSortie.get('qte')?.errors?.['min']" class="text-danger">* La quantité doit être au moins 1</small>
              <small *ngIf="addSortie.get('qte')?.errors?.['max']" class="text-danger">* La quantité ne peut pas dépasser {{ quantiteDisponible }}</small>
            </div>
          </div>



          <!-- description -->
          <div class="mb-3">
            <label for="description" class="form-label">Description du mouvement <span class="text-danger">*</span></label>
            <textarea class="form-control" id="description" rows="5"
              [class.invalid]="addSortie.get('description')?.invalid && addSortie.get('description')?.touched"
              placeholder="Entrez la description ici..." formControlName="description"></textarea>
            <div *ngIf="addSortie.get('description')?.invalid && addSortie.get('description')?.touched">
              <small *ngIf="addSortie.get('description')?.invalid && addSortie.get('description')?.touched"
                class="text-danger"> *la description est obligatoire</small>
            </div>
          </div>



          <!-- Sélectionner un employe -->
          <div class="mb-3">
            <label for="employe" class="form-label">Employe</label>

            <ng-container *ngIf="employes && employes.length > 0; else noEmploye">
              <ng-select [items]="employes" bindLabel="fullName" bindValue="id" formControlName="id_employe"
                [clearable]="true" placeholder="Sélectionnez l'Employé">
              </ng-select>

              <div *ngIf="addSortie.get('id_employe')?.invalid && addSortie.get('id_employe')?.touched">
                <small class="text-danger"> *L'employe est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun employe n'existe -->
            <ng-template #noEmploye>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Employé. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- Sélectionner un bureau -->
          <div class="mb-3">
            <label for="bureau" class="form-label">Bureau</label>

            <ng-container *ngIf="bureaux && bureaux.length > 0; else noBureau">
              <ng-select [items]="bureaux" bindLabel="libelle_bureau" bindValue="id" formControlName="id_bureau"
                [clearable]="true" placeholder="Sélectionnez le bureau ">
              </ng-select>

              <div *ngIf="addSortie.get('id_bureau')?.invalid && addSortie.get('id_bureau')?.touched">
                <small class="text-danger"> *Le bureau est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun bureau n'existe -->
            <ng-template #noBureau>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Bureau. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!--  date_mouvement -->
          <label for="date_mouvement" class="form-label">Date du mouvement <span class="text-danger">*</span></label>
          <div class="input-group mb-5">
            <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="dAdd.toggle()">
              <i data-feather="calendar"></i>
            </button>
            <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd" name="dpAdd"
              [(ngModel)]="currentDate" ngbDatepicker #dAdd="ngbDatepicker" formControlName="date_mouvement">
          </div>

          <div *ngIf="addSortie.get('date_mouvement')?.invalid && addSortie.get('date_mouvement')?.touched">
            <small class="text-danger"> *la date du mouvement est obligatoire</small>
          </div>


          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">
              <div class="spinner-border spinner-border-sm text-light d-none" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Ajouter
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- /Add mouvement sortie Modal -->



<!-- Edit entree Immo Modal -->
<div id="edit_sortie" class="modal fade" tabindex="-1" aria-labelledby="editEntreeLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="editEntreeLabel">Modifier un Mouvement de Sortie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="editSortie" (ngSubmit)="onClickSubmitEditSortie()" novalidate>
          <!-- Sélectionner un article -->
          <div class="mb-3">
            <label for="sortie" class="form-label">Article <span class="text-danger">*</span></label>
            <ng-container *ngIf="articles && articles.length > 0; else noArticleEdit">
              <ng-select [items]="articles" bindLabel="libelle" bindValue="id" formControlName="id_Article"
                [clearable]="true" placeholder="Sélectionnez l'Article">
              </ng-select>
              <div *ngIf="editSortie.get('id_Article')?.invalid && editSortie.get('id_Article')?.touched">
                <small class="text-danger"> *L'Article est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun article n'existe -->
            <ng-template #noArticleEdit>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Article. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- Qte -->
          <div class="mb-3">
            <label for="qte" class="form-label">Quantité <span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="qte" placeholder="1" autocomplete="off"
              [class.invalid]="editSortie.get('qte')?.invalid && editSortie.get('qte')?.touched" formControlName="qte">
            <div *ngIf="editSortie.get('qte')?.invalid && editSortie.get('qte')?.touched">
              <small *ngIf="editSortie.get('qte')?.invalid && editSortie.get('qte')?.touched" class="text-danger"> *la
                qte est obligatoire</small>
            </div>
          </div>


          <!-- description -->
          <div class="mb-3">
            <label for="description" class="form-label">Description du mouvement <span class="text-danger">*</span></label>
            <textarea class="form-control" id="description" rows="5"
              [class.invalid]="editSortie.get('description')?.invalid && editSortie.get('description')?.touched"
              placeholder="Entrez la description ici..." formControlName="description"></textarea>
            <div *ngIf="editSortie.get('description')?.invalid && editSortie.get('description')?.touched">
              <small *ngIf="editSortie.get('description')?.invalid && editSortie.get('description')?.touched"
                class="text-danger"> *la description est obligatoire</small>
            </div>
          </div>

          <!-- Sélectionner un employe -->
          <div class="mb-3">
            <label for="employe" class="form-label">Employe</label>

            <ng-container *ngIf="employes && employes.length > 0; else noEmploye">
              <ng-select [items]="employes" bindLabel="fullName" bindValue="id" formControlName="id_employe"
                [clearable]="true" placeholder="Sélectionnez l'Employé">
              </ng-select>

              <div *ngIf="editSortie.get('id_employe')?.invalid && editSortie.get('id_employe')?.touched">
                <small class="text-danger"> *L'employe est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun employe n'existe -->
            <ng-template #noEmploye>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Employé. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- Sélectionner un bureau -->
          <div class="mb-3">
            <label for="bureau" class="form-label">Bureau</label>

            <ng-container *ngIf="bureaux && bureaux.length > 0; else noBureau">
              <ng-select [items]="bureaux" bindLabel="libelle_bureau" bindValue="id" formControlName="id_bureau"
                [clearable]="true" placeholder="Sélectionnez le bureau ">
              </ng-select>

              <div *ngIf="editSortie.get('id_bureau')?.invalid && editSortie.get('id_bureau')?.touched">
                <small class="text-danger"> *Le bureau est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun bureau n'existe -->
            <ng-template #noBureau>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Bureau. Veuillez en créer.
              </div>
            </ng-template>
          </div>






          <!--  date_mouvement -->
          <label for="date_mouvement" class="form-label">Date du mouvement <span class="text-danger">*</span></label>
          <div class="input-group mb-5">
            <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="dEdit.toggle()">
              <i data-feather="calendar"></i>
            </button>
            <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd" name="dpEdit"
              [(ngModel)]="currentDate" ngbDatepicker #dEdit="ngbDatepicker" formControlName="date_mouvement">
          </div>

          <div *ngIf="editSortie.get('date_mouvement')?.invalid && editSortie.get('date_mouvement')?.touched">
            <small class="text-danger"> *la date du mouvement est obligatoire</small>
          </div>


          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">
              <div class="spinner-border spinner-border-sm text-light d-none spinnerModif" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Modifier
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- /Edit mouvement Modal -->





<!-- delete mouvement Modal -->
<div id="delete_sortie" class="modal fade" tabindex="-1" aria-labelledby="deleteEntreeLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="deleteEntreeLabel">Suppression du Mouvement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="deleteSortie" (ngSubmit)="onClickSubmitDeleteSortie()">
          <div class="mb-3">
            <p class="text-secondary">Voulez-vous vraiment supprimer ce Mouvement ?</p>
          </div>
          <input type="hidden" formControlName="id">
          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-danger">
              <div class="spinner-border spinner-border-sm text-light d-none spinnerDelete" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Supprimer
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /delete mouvement Modal -->
