<div class="container">
  <div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
      <div class="card">
        <div class="row">
          <div class="col-md-4 pe-md-0">
            <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(images/img_login.png)' }">
            </div>
          </div>
          <div class="col-md-8 ps-md-0">
            <div class="auth-form-wrapper px-4 py-5">
              <a routerLink="." class="nobleui-logo d-block mb-2">{{ siteName }}<span> </span></a>
              <!--  -->

              <!-- <img src="images/logo.png" alt="logo" class="mb-3" width="200"> -->
              <br>
              <br>

              <h5 class="text-secondary fw-normal mb-4">Bienvenue ! Connectez-vous à votre compte.</h5>
              <form class="forms-sample" [formGroup]="loginForm" (ngSubmit)="onLoggedin($event)">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email </label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email@gmail.com"
                    value="admin@demo.com" formControlName="email"
                    [class.invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                  <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                    <small *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                      class="text-danger"> *l'email est obligatoire</small>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password"
                    placeholder="Mot de passe" value="12345678" formControlName="password"
                    [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                      class="text-danger"> *le mot de passe est obligatoire</small>
                  </div>
                </div>
                <!-- <div class="form-check mb-3">
                  <input type="checkbox" class="form-check-input" id="authCheck">
                  <label class="form-check-label" for="authCheck">
                    Remember me
                  </label>
                </div> -->
                <div>
                  <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0">Se Connecter
                    <div class="spinner-border spinner-border-sm text-light d-none" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </button>
                </div>
                <a routerLink="/auth/forgot-password" class="d-block mt-3 text-secondary">Mot de passe oublié ?</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
