<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Paramètres Stock</a></li>
    <li class="breadcrumb-item active" aria-current="page">bureaux</li>
  </ol>
</nav>

<!-- Alerte pour ajout avec succès -->
<ngb-alert *ngIf="alertAjoutVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Bureau Ajoutée avec succès
</ngb-alert>
<!-- Alerte pour ajout avec succès -->

<!-- Alerte pour mofifier avec succès -->
<ngb-alert *ngIf="alertModifVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Bureau Mofifiée avec succès
</ngb-alert>
<!-- Alerte pour mofifier avec succès -->

<!-- Alerte pour supprimer avec succès -->
<ngb-alert *ngIf="alertSuppVisible" [dismissible]="false" class="alerte" [type]="'danger'">
  Bureau Supprimée avec succès
</ngb-alert>
<!-- Alerte pour supprimer avec succès -->

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <h4 class="card-title">Liste des Bureaux</h4>
          <p class="text-secondary">Liste des bureaux</p>
        </div>
        <button type="button" class="btn btn-primary align-self-center" data-bs-toggle="modal"
          data-bs-target="#add_bureau">
          Ajouter
        </button>

      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Liste des Bureaux</h6>
        <div class="row">
          <div class="col-xl-3 col-md-4">
            <input type="text" class="form-control form-control-sm" placeholder="Rechercher..."
              (keyup)="updateFilter($event)" />
          </div>
        </div>
        <div class="table-responsive">
          <ngx-datatable table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" rowHeight="auto" [scrollbarH]="true">
            <!-- <ngx-datatable-column name="ID" prop="id"></ngx-datatable-column> -->
            <ngx-datatable-column name="N°">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ rowIndex + 1 }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nom du Bureau" prop="libelle_bureau"></ngx-datatable-column>
            <!-- <ngx-datatable-column name="Valeur" prop="valeur"></ngx-datatable-column> -->
            <ngx-datatable-column name="Date de création" prop="created_at">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date:'dd/MM/yyyy HH:mm:ss' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div ngbDropdown container="body" placement="bottom-right">
                  <button class="btn btn-primary" id="dropdownBasic_{{row.id}}" ngbDropdownToggle></button>
                  <div ngbDropdownMenu [attr.aria-labelledby]="'dropdownBasic_' + row.id">
                    <button ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#edit_bureau" (click)="getEditForm(row)">
                      <i class="feather icon-edit me-2"></i> Modifier
                    </button>
                    <button ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_bureau" (click)="getDeleteForm(row)">
                      <i class="feather icon-trash-2 me-2"></i> Supprimer
                    </button>

                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Add Bureau Modal -->
<div id="add_bureau" class="modal fade" tabindex="-1" aria-labelledby="addBureauLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="addBureauLabel">Ajouter un Bureau</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="addBureau" (ngSubmit)="onClickSubmitAddBureau()" novalidate>
          <!-- Nom du bureau -->
          <div class="mb-3">
            <label for="bureauName" class="form-label">Nom du Bureau</label>
            <input type="text" class="form-control" id="bureauName" placeholder="Entrez le nom du Bureau"
              autocomplete="off"
              [class.invalid]="addBureau.get('libelle_bureau')?.invalid && addBureau.get('libelle_bureau')?.touched"
              formControlName="libelle_bureau">
            <div *ngIf="addBureau.get('libelle_bureau')?.invalid && addBureau.get('libelle_bureau')?.touched">
              <small *ngIf="addBureau.get('libelle_bureau')?.invalid && addBureau.get('libelle_bureau')?.touched"
                class="text-danger"> *le nom du Bureau est obligatoire</small>
            </div>
          </div>

          <!-- Valeur du coupon -->
          <!-- <div class="mb-3">
            <label for="bureauValeur" class="form-label">Valeur du Bureau</label>
            <input type="text" class="form-control" id="bureauValeur" placeholder="2000"
              autocomplete="off"
              [class.invalid]="addBureau.get('valeur')?.invalid && addBureau.get('valeur')?.touched"
              formControlName="valeur">
            <div *ngIf="addBureau.get('valeur')?.invalid && addBureau.get('valeur')?.touched">
              <small *ngIf="addBureau.get('valeur')?.invalid && addBureau.get('valeur')?.touched"
                class="text-danger"> *la valeur du bureau est obligatoire</small>
            </div>
          </div> -->

          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">
              <div class="spinner-border spinner-border-sm text-light d-none" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Ajouter
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add Bureau Modal -->




<!-- edit Bureau Modal -->
<div id="edit_bureau" class="modal fade" tabindex="-1" aria-labelledby="editBureauLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="editBureauLabel">Modification Bureau</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="editBureau" (ngSubmit)="onClickSubmitEditBureau()" novalidate>
          <!-- Nom du Bureau -->
          <div class="mb-3">
            <input type="hidden" formControlName="id">
            <label for="bureauName" class="form-label">Nom du Bureau</label>
            <input type="text" class="form-control" id="bureauName" placeholder="Entrez le nom du Bureau"
              autocomplete="off"
              [class.invalid]="editBureau.get('libelle_bureau')?.invalid && editBureau.get('libelle_bureau')?.touched"
              formControlName="libelle_bureau">
            <div *ngIf="editBureau.get('libelle_bureau')?.invalid && editBureau.get('libelle_bureau')?.touched">
              <small *ngIf="editBureau.get('libelle_bureau')?.invalid && editBureau.get('libelle_bureau')?.touched"
                class="text-danger"> *le nom du bureau est obligatoire</small>
            </div>
          </div>
          <!-- Valeur du coupon -->
          <!-- <div class="mb-3">
            <label for="bureauValeur" class="form-label">Valeur du Bureau</label>
            <input type="text" class="form-control" id="bureauValeur" placeholder="2000"
              autocomplete="off"
              [class.invalid]="editBureau.get('valeur')?.invalid && editBureau.get('valeur')?.touched"
              formControlName="valeur">
            <div *ngIf="editBureau.get('valeur')?.invalid && editBureau.get('valeur')?.touched">
              <small *ngIf="editBureau.get('valeur')?.invalid && editBureau.get('valeur')?.touched"
                class="text-danger"> *la valeur est obligatoire</small>
            </div>
          </div> -->

          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">
              <div class="spinner-border spinner-border-sm text-light d-none spinnerModif" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Modifier
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /edit Bureau Modal -->




<!-- delete Bureau Modal -->
<div id="delete_bureau" class="modal fade" tabindex="-1" aria-labelledby="deleteBureauLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="editBureauLabel">Suppression Bureau</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="deleteBureau"  (ngSubmit)="onClickSubmitDeleteBureau()">
          <div class="mb-3">
            <p class="text-secondary">Voulez-vous vraiment supprimer ce Bureau ?</p>
          </div>
          <input type="hidden" formControlName="id">
          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-danger">
              <div class="spinner-border spinner-border-sm text-light d-none spinnerDelete" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Supprimer
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /delete Bureau Modal -->
