<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Articles</a></li>
  </ol>
</nav>

<!-- Alerte pour ajout avec succès -->
<ngb-alert *ngIf="alertAjoutVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Article Ajouté avec succès
</ngb-alert>
<!-- Alerte pour ajout avec succès -->

<!-- Alerte pour mofifier avec succès -->
<ngb-alert *ngIf="alertModifVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Article Modifié avec succès
</ngb-alert>
<!-- Alerte pour mofifier avec succès -->

<!-- Alerte pour supprimer avec succès -->
<ngb-alert *ngIf="alertSuppVisible" [dismissible]="false" class="alerte" [type]="'danger'">
  Article Supprimé avec succès
</ngb-alert>
<!-- Alerte pour supprimer avec succès -->

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <h4 class="card-title">Liste des Articles</h4>
          <p class="text-secondary">Liste des Articles</p>
        </div>
        <button type="button" class="btn btn-primary align-self-center" data-bs-toggle="modal"
          data-bs-target="#add_article">
          Ajouter
        </button>

      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Liste des Articles</h6>
        <div class="row">
          <div class="col-xl-3 col-md-4">
            <input type="text" class="form-control form-control-sm" placeholder="Rechercher..."
              (keyup)="updateFilter($event)" />
          </div>
        </div>
        <div class="table-responsive">
          <ngx-datatable table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" rowHeight="auto">
            <!-- <ngx-datatable-column name="ID" prop="id"></ngx-datatable-column> -->
            <ngx-datatable-column name="N°">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ rowIndex + 1 }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Articles" prop="libelle"></ngx-datatable-column>
            <ngx-datatable-column name="Catégorie">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.categorie?.libelle_categorie_article || 'N/A' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Description" prop="description"></ngx-datatable-column>
            <ngx-datatable-column name="Date de création" prop="created_at">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date:'dd/MM/yyyy HH:mm:ss' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div ngbDropdown container="body" placement="bottom-right">
                  <button class="btn btn-primary" id="dropdownBasic_{{row.id}}" ngbDropdownToggle></button>
                  <div ngbDropdownMenu [attr.aria-labelledby]="'dropdownBasic_' + row.id">
                    <button ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal"
                      data-bs-target="#edit_article" (click)="getEditForm(row)">
                      <i class="feather icon-edit me-2"></i> Modifier
                    </button>
                    <button ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal"
                      data-bs-target="#delete_article" (click)="getDeleteForm(row)">
                      <i class="feather icon-trash-2 me-2"></i> Supprimer
                    </button>

                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Add article Immo Modal -->
<div id="add_article" class="modal fade" tabindex="-1" aria-labelledby="addArticleLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="addArticleLabel">Ajouter un Article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="addArticle" (ngSubmit)="onClickSubmitAddArticle()" novalidate>
          <!-- Nom de l'article -->
          <div class="mb-3">
            <label for="articleName" class="form-label">Article</label>
            <input type="text" class="form-control" id="articleName"
              placeholder="Entrez le nom de l'Article" autocomplete="off"
              [class.invalid]="addArticle.get('libelle')?.invalid && addArticle.get('libelle')?.touched"
              formControlName="libelle">
            <div *ngIf="addArticle.get('libelle')?.invalid && addArticle.get('libelle')?.touched">
              <small *ngIf="addArticle.get('libelle')?.invalid && addArticle.get('libelle')?.touched"
                class="text-danger"> *le nom de l'Article est obligatoire</small>
            </div>
          </div>

          <!-- Sélectionner une catégorie -->
          <div class="mb-3">
            <label for="categorie" class="form-label">Catégorie</label>

            <ng-container *ngIf="categories && categories.length > 0; else noCategorie">
              <ng-select [items]="categories" bindLabel="libelle_categorie_article" bindValue="id" formControlName="id_cat"
                [clearable]="true" placeholder="Sélectionnez la catégorie">
              </ng-select>

              <div *ngIf="addArticle.get('id_cat')?.invalid && addArticle.get('id_cat')?.touched">
                <small class="text-danger"> *La catégorie est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun type d'immobilisation n'existe -->
            <ng-template #noCategorie>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucune Catégorie d'article. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- description -->
          <div class="mb-3">
            <label for="articleDescription" class="form-label">Description</label>
            <textarea class="form-control" id="articleDescription" rows="5"
              [class.invalid]="addArticle.get('description')?.invalid && addArticle.get('description')?.touched"
              placeholder="Entrez la description ici..." formControlName="description"></textarea>
            <div
              *ngIf="addArticle.get('description')?.invalid && addArticle.get('description')?.touched">
              <small
                *ngIf="addArticle.get('description')?.invalid && addArticle.get('description')?.touched"
                class="text-danger"> *la description est obligatoire</small>
            </div>
          </div>

          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">
              <div class="spinner-border spinner-border-sm text-light d-none" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Ajouter
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- /Add Article Modal -->




<!-- Edit Article Immo Modal -->
<div id="edit_article" class="modal fade" tabindex="-1" aria-labelledby="editArticleLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="editArticleLabel">Modifier un Article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="editArticle" (ngSubmit)="onClickSubmitEditArticle()"
          novalidate>
          <!-- Nom de l'article -->
          <div class="mb-3">
            <label for="articleName" class="form-label">Article</label>
            <input type="text" class="form-control" id="articleName"
              placeholder="Entrez le nom de l'Article" autocomplete="off"
              [class.invalid]="editArticle.get('libelle')?.invalid && editArticle.get('libelle')?.touched"
              formControlName="libelle">
            <div *ngIf="editArticle.get('libelle')?.invalid && editArticle.get('libelle')?.touched">
              <small *ngIf="editArticle.get('libelle')?.invalid && editArticle.get('libelle')?.touched"
                class="text-danger"> *le nom de l'article est obligatoire</small>
            </div>
          </div>

          <!-- Sélectionner une catégorie -->
          <div class="mb-3">
            <label for="categorie" class="form-label">Catégorie</label>

            <ng-container *ngIf="categories && categories.length > 0; else noCategorie">
              <ng-select [items]="categories" bindLabel="libelle_categorie_article" bindValue="id" formControlName="id_cat"
                [clearable]="true" placeholder="Sélectionnez la catégorie">
              </ng-select>

              <div *ngIf="editArticle.get('id_cat')?.invalid && editArticle.get('id_cat')?.touched">
                <small class="text-danger"> *La catégorie est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun type d'immobilisation n'existe -->
            <ng-template #noCategorie>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucune Catégorie d'article. Veuillez en créer.
              </div>
            </ng-template>
          </div>


          <!-- description -->
          <div class="mb-3">
            <label for="articleDescription" class="form-label">Description</label>
            <textarea class="form-control" id="articleDescription" rows="5"
              [class.invalid]="editArticle.get('description')?.invalid && editArticle.get('description')?.touched"
              placeholder="Entrez la description ici..." formControlName="description"></textarea>
            <div
              *ngIf="editArticle.get('description')?.invalid && editArticle.get('description')?.touched">
              <small
                *ngIf="editArticle.get('description')?.invalid && editArticle.get('description')?.touched"
                class="text-danger"> *la description est obligatoire</small>
            </div>
          </div>


          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">
              <div class="spinner-border spinner-border-sm text-light d-none spinnerModif" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Modifier
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- /Edit Article Modal -->



<!-- delete Article Modal -->
<div id="delete_article" class="modal fade" tabindex="-1" aria-labelledby="deleteArticleLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="deleteArticleLabel">Suppression d' Article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="deleteArticle"
          (ngSubmit)="onClickSubmitDeleteArticle()">
          <div class="mb-3">
            <p class="text-secondary">Voulez-vous vraiment supprimer cet Article ?</p>
          </div>
          <input type="hidden" formControlName="id">
          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-danger">
              <div class="spinner-border spinner-border-sm text-light d-none spinnerDelete" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Supprimer
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /delete article Type d'Immobilisation Modal -->