<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Trajets</a></li>
  </ol>
</nav>

<ngb-alert *ngIf="alertAjoutVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Trajet Ajouté avec succès
</ngb-alert>
<ngb-alert *ngIf="alertModifVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Trajet Modifié avec succès
</ngb-alert>
<ngb-alert *ngIf="alertSuppVisible" [dismissible]="false" class="alerte" [type]="'danger'">
  Trajet Supprimé avec succès
</ngb-alert>
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <h4 class="card-title">Liste des Trajets</h4>
          <p class="text-secondary">Liste des Trajets</p>
        </div>
        <button type="button" class="btn btn-primary align-self-center" data-bs-toggle="modal"
          data-bs-target="#add_trajet">
          Ajouter
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Liste des Trajets</h6>
        <div class="row">
          <div class="col-xl-3 col-md-4">
            <input type="text" class="form-control form-control-sm" placeholder="Filtrer..."
              (keyup)="updateFilter($event)" />
          </div>
        </div>
        <div class="table-responsive">
          <ngx-datatable table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" rowHeight="auto" [scrollbarH]="true">
            <ngx-datatable-column name="N°">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ rowIndex + 1 }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Départ">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.depart?.libelle_commune || 'Non défini' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Arrivée">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.arriver?.libelle_commune || 'Non défini' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Aller-Retour" prop="trajet_aller_retour">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.trajet_aller_retour ? 'Oui' : 'Non' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Valeur" prop="valeur"></ngx-datatable-column>
            <ngx-datatable-column name="Observation" prop="observation"></ngx-datatable-column>

            <ngx-datatable-column name="Actions">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div ngbDropdown container="body" placement="bottom-right" class="mb-2">
                  <a class="no-dropdown-toggle-icon btn btn-primary" ngbDropdownToggle id="dropdownBasic_{{row.id}}">
                    <i class="icon-lg text-white pb-3px" data-feather="more-vertical" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu [attr.aria-labelledby]="'dropdownBasic_' + row.id">
                    <a ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal"
                      data-bs-target="#edit_trajet" (click)="getEditForm(row)">
                      <i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span>Modifier</span>
                    </a>
                    <a ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal"
                      data-bs-target="#delete_trajet" (click)="getDeleteForm(row)">
                      <i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span>Supprimer</span>
                    </a>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="add_trajet" class="modal fade" tabindex="-1" aria-labelledby="addTrajetLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTrajetLabel">Ajouter un Trajet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form class="forms-sample" [formGroup]="addTrajet" (ngSubmit)="onClickSubmitAddTrajet()" novalidate>

          <div class="mb-3">
            <label for="commune_depart" class="form-label">Commune Départ <span class="text-danger">*</span></label>
            <ng-container *ngIf="communes && communes.length > 0; else noCommunesDepart">
              <ng-select [items]="communes" bindLabel="libelle_commune" bindValue="id" formControlName="commune_depart"
                [clearable]="true" placeholder="Sélectionnez la commune de départ">
              </ng-select>
              <div *ngIf="addTrajet.get('commune_depart')?.invalid && addTrajet.get('commune_depart')?.touched">
                <small class="text-danger"> *La commune de départ est obligatoire</small>
              </div>
            </ng-container>
            <ng-template #noCommunesDepart>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucune Commune. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <div class="mb-3">
            <label for="commune_arriver" class="form-label">Commune Arrivée <span class="text-danger">*</span></label>
            <ng-container *ngIf="communes && communes.length > 0; else noCommunesArriver">
              <ng-select [items]="communes" bindLabel="libelle_commune" bindValue="id" formControlName="commune_arriver"
                [clearable]="true" placeholder="Sélectionnez la commune d'arrivée">
              </ng-select>
              <div *ngIf="addTrajet.get('commune_arriver')?.invalid && addTrajet.get('commune_arriver')?.touched">
                <small class="text-danger"> *La commune d'arrivée est obligatoire</small>
              </div>
            </ng-container>
            <ng-template #noCommunesArriver>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucune Commune. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <div class="mb-3">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="trajet_aller_retour" formControlName="trajet_aller_retour">
              <label class="form-check-label" for="trajet_aller_retour">Aller-Retour</label>
            </div>
          </div>

          <!-- valeur -->
          <div class="mb-3">
            <label for="valeur" class="form-label">Valeur <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="valeur" placeholder="10000"
              autocomplete="off"
              [class.invalid]="addTrajet.get('valeur')?.invalid && addTrajet.get('valeur')?.touched"
              formControlName="valeur">
            <div *ngIf="addTrajet.get('valeur')?.invalid && addTrajet.get('valeur')?.touched">
              <small *ngIf="addTrajet.get('valeur')?.invalid && addTrajet.get('valeur')?.touched"
                class="text-danger"> *la valeur du trajet est obligatoire</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="observation" class="form-label">Observation <span class="text-danger"></span></label>
            <textarea class="form-control" id="observation" rows="5"
              [class.invalid]="addTrajet.get('observation')?.invalid && addTrajet.get('observation')?.touched"
              placeholder="Entrez votre observation ici..." formControlName="observation"></textarea>
            <div *ngIf="addTrajet.get('observation')?.invalid && addTrajet.get('observation')?.touched">
              <small *ngIf="addTrajet.get('observation')?.invalid && addTrajet.get('observation')?.touched"
                class="text-danger"> *L'observation est obligatoire</small>
            </div>
          </div>

          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">
              <div class="spinner-border spinner-border-sm text-light d-none" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Ajouter
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div id="edit_trajet" class="modal fade" tabindex="-1" aria-labelledby="editTrajetLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTrajetLabel">Modifier le Trajet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form class="forms-sample" [formGroup]="editTrajet" (ngSubmit)="onClickSubmitEditTrajet()" novalidate>
          <input type="hidden" formControlName="id">

          <div class="mb-3">
            <label for="edit_commune_depart" class="form-label">Commune Départ <span class="text-danger">*</span></label>
            <ng-container *ngIf="communes && communes.length > 0; else noEditCommunesDepart">
              <ng-select [items]="communes" bindLabel="libelle_commune" bindValue="id" formControlName="commune_depart"
                [clearable]="true" placeholder="Sélectionnez la commune de départ">
              </ng-select>
              <div *ngIf="editTrajet.get('commune_depart')?.invalid && editTrajet.get('commune_depart')?.touched">
                <small class="text-danger"> *La commune de départ est obligatoire</small>
              </div>
            </ng-container>
            <ng-template #noEditCommunesDepart>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucune Commune. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <div class="mb-3">
            <label for="edit_commune_arriver" class="form-label">Commune Arrivée <span class="text-danger">*</span></label>
            <ng-container *ngIf="communes && communes.length > 0; else noEditCommunesArriver">
              <ng-select [items]="communes" bindLabel="libelle_commune" bindValue="id" formControlName="commune_arriver"
                [clearable]="true" placeholder="Sélectionnez la commune d'arrivée">
              </ng-select>
              <div *ngIf="editTrajet.get('commune_arriver')?.invalid && editTrajet.get('commune_arriver')?.touched">
                <small class="text-danger"> *La commune d'arrivée est obligatoire</small>
              </div>
            </ng-container>
            <ng-template #noEditCommunesArriver>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucune Commune. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <div class="mb-3">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="edit_trajet_aller_retour" formControlName="trajet_aller_retour">
              <label class="form-check-label" for="edit_trajet_aller_retour">Aller-Retour</label>
            </div>
          </div>

          <!-- valeur -->
          <div class="mb-3">
            <label for="valeur" class="form-label">Valeur <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="valeur" placeholder="10000"
              autocomplete="off"
              [class.invalid]="editTrajet.get('valeur')?.invalid && editTrajet.get('valeur')?.touched"
              formControlName="valeur">
            <div *ngIf="editTrajet.get('valeur')?.invalid && editTrajet.get('valeur')?.touched">
              <small *ngIf="editTrajet.get('valeur')?.invalid && editTrajet.get('valeur')?.touched"
                class="text-danger"> *la valeur du trajet est obligatoire</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="edit_observation" class="form-label">Observation <span class="text-danger"></span></label>
            <textarea class="form-control" id="edit_observation" rows="5"
              [class.invalid]="editTrajet.get('observation')?.invalid && editTrajet.get('observation')?.touched"
              placeholder="Entrez votre observation ici..." formControlName="observation"></textarea>
            <div *ngIf="editTrajet.get('observation')?.invalid && editTrajet.get('observation')?.touched">
              <small *ngIf="editTrajet.get('observation')?.invalid && editTrajet.get('observation')?.touched"
                class="text-danger"> *L'observation est obligatoire</small>
            </div>
          </div>

          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">
              <div class="spinner-border spinner-border-sm text-light d-none spinnerModif" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Modifier
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="delete_trajet" class="modal fade" tabindex="-1" aria-labelledby="deleteTrajetLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteTrajetLabel">Supprimer le Trajet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="deleteTrajet" (ngSubmit)="onClickSubmitDeleteTrajet()">
          <input type="hidden" formControlName="id">
          <p class="text-center">Êtes-vous sûr de vouloir supprimer ce trajet ?</p>
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-danger">
              <div class="spinner-border spinner-border-sm text-light d-none spinnerDelete" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Supprimer
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
