<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Immobilisations</a></li>
  </ol>
</nav>

<!-- Alerte pour ajout avec succès -->
<ngb-alert *ngIf="alertAjoutVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Immobilisation Ajouté avec succès
</ngb-alert>
<!-- Alerte pour ajout avec succès -->

<!-- Alerte pour mofifier avec succès -->
<ngb-alert *ngIf="alertModifVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Immobilisation Mofifié avec succès
</ngb-alert>
<!-- Alerte pour mofifier avec succès -->

<!-- Alerte pour supprimer avec succès -->
<ngb-alert *ngIf="alertSuppVisible" [dismissible]="false" class="alerte" [type]="'danger'">
  Immobilisation Supprimé avec succès
</ngb-alert>
<!-- Alerte pour supprimer avec succès -->

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <h4 class="card-title">Liste des Immobilisations</h4>
          <p class="text-secondary">Liste des Immobilisations</p>
        </div>
        <button type="button" class="btn btn-primary align-self-center" data-bs-toggle="modal"
          data-bs-target="#add_immobilisation">
          Ajouter
        </button>

      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Liste des Immobilisations</h6>
        <div class="row">
          <div class="col-xl-3 col-md-4">
            <input type="text" class="form-control form-control-sm" placeholder="Designation..."
              (keyup)="updateFilter($event)" />
          </div>
        </div>
        <div class="table-responsive">
          <ngx-datatable table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" rowHeight="auto" [scrollbarH]="true">
            <!-- <ngx-datatable-column name="ID" prop="id"></ngx-datatable-column> -->
            <ngx-datatable-column name="N°">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ rowIndex + 1 }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Code" prop="code"></ngx-datatable-column>
            <ngx-datatable-column name="Désignation" prop="designation"></ngx-datatable-column>
            <ngx-datatable-column name="Montant ttc" prop="montant_ttc"></ngx-datatable-column>
            <ngx-datatable-column name="Etat" prop="etat"></ngx-datatable-column>
            <ngx-datatable-column name="Observation" prop="observation"></ngx-datatable-column>
            <ngx-datatable-column name="Groupe type immo">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.groupe_type_immo?.libelle || 'N/A' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Sous type immo">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.sous_type_immo?.libelle || 'N/A' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status immo">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.status_immo?.libelle_status_immo || 'N/A' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Personnel">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.employe?.fullnameEmploye || 'Non défini' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Date de création" prop="created_at">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date:'dd/MM/yyyy HH:mm:ss' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div ngbDropdown container="body" placement="bottom-right">
                  <button class="btn btn-primary" id="dropdownBasic_{{row.id}}" ngbDropdownToggle></button>
                  <div ngbDropdownMenu [attr.aria-labelledby]="'dropdownBasic_' + row.id">
                    <button ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal"
                      data-bs-target="#edit_immobilisation" (click)="getEditForm(row)">
                      <i class="feather icon-edit me-2"></i> Modifier
                    </button>
                    <button ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal"
                      data-bs-target="#delete_immobilisation" (click)="getDeleteForm(row)">
                      <i class="feather icon-trash-2 me-2"></i> Supprimer
                    </button>

                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Add IMMO Modal -->
<div id="add_immobilisation" class="modal fade" tabindex="-1" aria-labelledby="addImmobilisationLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="addImmobilisationLabel">Ajouter une Immobilisation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="addImmobilisation" (ngSubmit)="onClickSubmitAddImmobilisation()"
          novalidate>
          <!-- code de l' Immobilisation -->
          <div class="mb-3">
            <label for="code" class="form-label">Code</label>
            <input type="text" class="form-control" id="code" placeholder="IMMO-001" autocomplete="off"
              [class.invalid]="addImmobilisation.get('code')?.invalid && addImmobilisation.get('code')?.touched"
              formControlName="code">
            <div *ngIf="addImmobilisation.get('code')?.invalid && addImmobilisation.get('code')?.touched">
              <small *ngIf="addImmobilisation.get('code')?.invalid && addImmobilisation.get('code')?.touched"
                class="text-danger"> *le code de l'immobilisation est obligatoire</small>
            </div>
          </div>
          <!-- designation de l' Immobilisation -->
          <div class="mb-3">
            <label for="designation" class="form-label">Designation</label>
            <input type="text" class="form-control" id="designation" placeholder="designation" autocomplete="off"
              [class.invalid]="addImmobilisation.get('designation')?.invalid && addImmobilisation.get('designation')?.touched"
              formControlName="designation">
            <div *ngIf="addImmobilisation.get('designation')?.invalid && addImmobilisation.get('designation')?.touched">
              <small
                *ngIf="addImmobilisation.get('designation')?.invalid && addImmobilisation.get('designation')?.touched"
                class="text-danger"> *la designation de l'immobilisation est obligatoire</small>
            </div>
          </div>
          <!-- montant ttc de l' Immobilisation -->
          <div class="mb-3">
            <label for="montant_ttc" class="form-label">Montant TTC (en FCFA)</label>
            <input type="text" class="form-control" id="montant_ttc" placeholder="20000" autocomplete="off"
              [class.invalid]="addImmobilisation.get('montant_ttc')?.invalid && addImmobilisation.get('montant_ttc')?.touched"
              formControlName="montant_ttc">
            <div *ngIf="addImmobilisation.get('montant_ttc')?.invalid && addImmobilisation.get('montant_ttc')?.touched">
              <small
                *ngIf="addImmobilisation.get('montant_ttc')?.invalid && addImmobilisation.get('montant_ttc')?.touched"
                class="text-danger"> *le montant ttc de l'immobilisation est obligatoire</small>
            </div>
          </div>

          <!-- Sélectionner un fournisseur -->
          <div class="mb-3">
            <label for="fournisseur" class="form-label">Fournisseur</label>

            <ng-container *ngIf="fournisseurs && fournisseurs.length > 0; else noFournisseur">
              <ng-select [items]="fournisseurs" bindLabel="nom" bindValue="id" formControlName="fournisseur_id"
                [clearable]="true" placeholder="Sélectionnez le Fournisseur">
              </ng-select>

              <div
                *ngIf="addImmobilisation.get('fournisseur_id')?.invalid && addImmobilisation.get('fournisseur_id')?.touched">
                <small class="text-danger"> *Le fournisseur est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun Fournisseur n'existe -->
            <ng-template #noFournisseur>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Fournisseur. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- Sélectionner un SousTypeImmo -->
          <div class="mb-3">
            <label for="sousTypeImmo" class="form-label">Sous Type Immo</label>

            <ng-container *ngIf="sousTypeImmo && sousTypeImmo.length > 0; else noSousTypeImmo">
              <ng-select [items]="sousTypeImmo" bindLabel="libelle" bindValue="id" formControlName="id_sous_type_immo"
                [clearable]="true" placeholder="Sélectionnez le Sous Type de l'Immobilisation">
              </ng-select>
              <div
                *ngIf="addImmobilisation.get('id_sous_type_immo')?.invalid && addImmobilisation.get('id_sous_type_immo')?.touched">
                <small class="text-danger"> *Le Sous Type Immo est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun sousTypeImmo n'existe -->
            <ng-template #noSousTypeImmo>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Sous Type Immo. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- Sélectionner un GroupeTypeImmo -->
          <div class="mb-3">
            <label for="groupeTypeImmo" class="form-label">Groupe Type Immobilisation</label>

            <ng-container *ngIf="groupeTypeImmo && groupeTypeImmo.length > 0; else noGroupeTypeImmo">
              <ng-select [items]="groupeTypeImmo" bindLabel="libelle" bindValue="id"
                formControlName="id_groupe_type_immo" [clearable]="true"
                placeholder="Sélectionnez le Groupe type de l'Immobilisation">
              </ng-select>
              <div
                *ngIf="addImmobilisation.get('id_groupe_type_immo')?.invalid && addImmobilisation.get('id_groupe_type_immo')?.touched">
                <small class="text-danger"> *Le Groupe Type Immo est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun GroupeTypeImmo n'existe -->
            <ng-template #noGroupeTypeImmo>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Groupe Type Immo. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- duree_amorti de l' Immobilisation -->
          <div class="mb-3">
            <label for="duree_amorti" class="form-label">Duree amortie (en ans)</label>
            <input type="text" class="form-control" id="duree_amorti" placeholder="5" autocomplete="off"
              [class.invalid]="addImmobilisation.get('duree_amorti')?.invalid && addImmobilisation.get('duree_amorti')?.touched"
              formControlName="duree_amorti">
            <div
              *ngIf="addImmobilisation.get('duree_amorti')?.invalid && addImmobilisation.get('duree_amorti')?.touched">
              <small
                *ngIf="addImmobilisation.get('duree_amorti')?.invalid && addImmobilisation.get('duree_amorti')?.touched"
                class="text-danger"> *la duree amortie de l'immobilisation est obligatoire</small>
            </div>
          </div>

          <!-- taux_ammortissement de l' Immobilisation -->
          <div class="mb-3">
            <label for="taux_ammortissement" class="form-label">Taux ammortissement (en %)</label>
            <input type="text" class="form-control" id="taux_ammortissement" placeholder="5" autocomplete="off"
              [class.invalid]="addImmobilisation.get('taux_ammortissement')?.invalid && addImmobilisation.get('taux_ammortissement')?.touched"
              formControlName="taux_ammortissement">
            <div
              *ngIf="addImmobilisation.get('taux_ammortissement')?.invalid && addImmobilisation.get('taux_ammortissement')?.touched">
              <small
                *ngIf="addImmobilisation.get('taux_ammortissement')?.invalid && addImmobilisation.get('taux_ammortissement')?.touched"
                class="text-danger"> *le taux d'ammortissement de l'immobilisation est obligatoire</small>
            </div>
          </div>

          <!-- duree_ammortissement de l' Immobilisation -->
          <div class="mb-3">
            <label for="duree_ammortissement" class="form-label">Duree ammortissement (en ans)</label>
            <input type="text" class="form-control" id="duree_ammortissement" placeholder="5" autocomplete="off"
              [class.invalid]="addImmobilisation.get('duree_ammortissement')?.invalid && addImmobilisation.get('duree_ammortissement')?.touched"
              formControlName="duree_ammortissement">
            <div
              *ngIf="addImmobilisation.get('duree_ammortissement')?.invalid && addImmobilisation.get('duree_ammortissement')?.touched">
              <small
                *ngIf="addImmobilisation.get('duree_ammortissement')?.invalid && addImmobilisation.get('duree_ammortissement')?.touched"
                class="text-danger"> *la duree de l'ammortissement de l'immobilisation est obligatoire</small>
            </div>
          </div>

          <!-- date_acquisition de l' Immobilisation -->
          <div class="mb-3">
            <label for="date_acquisition" class="form-label">Date d'acquisition</label>
            <input type="text" class="form-control" id="date_acquisition" placeholder="2024-12-31" autocomplete="off"
              [class.invalid]="addImmobilisation.get('date_acquisition')?.invalid && addImmobilisation.get('date_acquisition')?.touched"
              formControlName="date_acquisition">
            <div
              *ngIf="addImmobilisation.get('date_acquisition')?.invalid && addImmobilisation.get('date_acquisition')?.touched">
              <small
                *ngIf="addImmobilisation.get('date_acquisition')?.invalid && addImmobilisation.get('date_acquisition')?.touched"
                class="text-danger"> *la date d'acquisition de l'immobilisation est obligatoire</small>
            </div>
          </div>

          <!-- observation -->
          <div class="mb-3">
            <label for="observation" class="form-label">Observation</label>
            <textarea class="form-control" id="observation" rows="5"
              [class.invalid]="addImmobilisation.get('observation')?.invalid && addImmobilisation.get('observation')?.touched"
              placeholder="Entrez votre observation ici..." formControlName="observation"></textarea>
            <div *ngIf="addImmobilisation.get('observation')?.invalid && addImmobilisation.get('observation')?.touched">
              <small
                *ngIf="addImmobilisation.get('observation')?.invalid && addImmobilisation.get('observation')?.touched"
                class="text-danger"> *l' observation est obligatoire</small>
            </div>
          </div>
          <!-- Sélectionner un StatusImmo -->
          <div class="mb-3">
            <label for="statusImmo" class="form-label">Status</label>

            <ng-container *ngIf="statusImmo && statusImmo.length > 0; else noStatusImmo">
              <ng-select [items]="statusImmo" bindLabel="libelle_status_immo" bindValue="id"
                formControlName="id_status_immo" [clearable]="true" placeholder="Sélectionnez le Status">
              </ng-select>
              <div
                *ngIf="addImmobilisation.get('id_status_immo')?.invalid && addImmobilisation.get('id_status_immo')?.touched">
                <small class="text-danger"> *Le status est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun StatusImmo n'existe -->
            <ng-template #noStatusImmo>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Status. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <div class="mb-3">
            <label class="form-label">État</label>
            <ng-select [items]="etatOptions" formControlName="etat" [clearable]="true"
              placeholder="Sélectionnez l'état">
            </ng-select>

            <div *ngIf="addImmobilisation.get('etat')?.invalid && addImmobilisation.get('etat')?.touched">
              <small class="text-danger"> *L'état est obligatoire</small>
            </div>
          </div>


          <!-- isVehicule  ?? -->
          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="checkDefault" (change)="onCheckboxChange($event)">
            <label class="form-check-label" for="checkDefault">
              Cette Immobilisation est une voiture ?
            </label>
          </div>

          <!-- Sélectionner un le véhicule si l'immo est un véhicule -->
          <div class="mb-3" *ngIf="addImmobilisation.get('isVehicule')?.value === 1">
            <label for="vehicule_id" class="form-label">Immatriculation du véhicule</label>

            <ng-container *ngIf="vehicules && vehicules.length > 0; else noVehicule">
              <ng-select [items]="vehicules" bindLabel="immatriculation" bindValue="id"
                formControlName="vehicule_id" [clearable]="true" placeholder="Sélectionnez l'immatriculation du véhicule">
              </ng-select>
              <div
                *ngIf="addImmobilisation.get('vehicule_id')?.invalid && addImmobilisation.get('vehicule_id')?.touched">
                <small class="text-danger"> *l'immatriculation du est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun Vehicule n'existe -->
            <ng-template #noVehicule>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Véhicule. Veuillez en créer.
              </div>
            </ng-template>
          </div>



          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">
              <div class="spinner-border spinner-border-sm text-light d-none" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Ajouter
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add IMMO Modal -->


<!-- edit IMMO Modal -->
<div id="edit_immobilisation" class="modal fade" tabindex="-1" aria-labelledby="editImmobilisationLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="editImmobilisationLabel">Modifier une Immobilisation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="editImmobilisation" (ngSubmit)="onClickSubmitEditImmobilisation()"
          novalidate>

          <input type="hidden" formControlName="id">
          
          <!-- code de l' Immobilisation -->
          <div class="mb-3">
            <label for="code" class="form-label">Code</label>
            <input type="text" class="form-control" id="code" placeholder="IMMO-001" autocomplete="off"
              [class.invalid]="editImmobilisation.get('code')?.invalid && editImmobilisation.get('code')?.touched"
              formControlName="code">
            <div *ngIf="editImmobilisation.get('code')?.invalid && editImmobilisation.get('code')?.touched">
              <small *ngIf="editImmobilisation.get('code')?.invalid && editImmobilisation.get('code')?.touched"
                class="text-danger"> *le code de l'immobilisation est obligatoire</small>
            </div>
          </div>
          <!-- designation de l' Immobilisation -->
          <div class="mb-3">
            <label for="designation" class="form-label">Designation</label>
            <input type="text" class="form-control" id="designation" placeholder="designation" autocomplete="off"
              [class.invalid]="editImmobilisation.get('designation')?.invalid && editImmobilisation.get('designation')?.touched"
              formControlName="designation">
            <div *ngIf="editImmobilisation.get('designation')?.invalid && editImmobilisation.get('designation')?.touched">
              <small
                *ngIf="editImmobilisation.get('designation')?.invalid && editImmobilisation.get('designation')?.touched"
                class="text-danger"> *la designation de l'immobilisation est obligatoire</small>
            </div>
          </div>
          <!-- montant ttc de l' Immobilisation -->
          <div class="mb-3">
            <label for="montant_ttc" class="form-label">Montant TTC (en FCFA)</label>
            <input type="text" class="form-control" id="montant_ttc" placeholder="20000" autocomplete="off"
              [class.invalid]="editImmobilisation.get('montant_ttc')?.invalid && editImmobilisation.get('montant_ttc')?.touched"
              formControlName="montant_ttc">
            <div *ngIf="editImmobilisation.get('montant_ttc')?.invalid && editImmobilisation.get('montant_ttc')?.touched">
              <small
                *ngIf="editImmobilisation.get('montant_ttc')?.invalid && editImmobilisation.get('montant_ttc')?.touched"
                class="text-danger"> *le montant ttc de l'immobilisation est obligatoire</small>
            </div>
          </div>

          <!-- Sélectionner un fournisseur -->
          <div class="mb-3">
            <label for="fournisseur" class="form-label">Fournisseur</label>

            <ng-container *ngIf="fournisseurs && fournisseurs.length > 0; else noFournisseurEdit">
              <ng-select [items]="fournisseurs" bindLabel="nom" bindValue="id" formControlName="fournisseur_id"
                [clearable]="true" placeholder="Sélectionnez le Fournisseur">
              </ng-select>

              <div
                *ngIf="editImmobilisation.get('fournisseur_id')?.invalid && editImmobilisation.get('fournisseur_id')?.touched">
                <small class="text-danger"> *Le fournisseur est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun Fournisseur n'existe -->
            <ng-template #noFournisseurEdit>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Fournisseur. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- Sélectionner un SousTypeImmo -->
          <div class="mb-3">
            <label for="sousTypeImmo" class="form-label">Sous Type Immo</label>

            <ng-container *ngIf="sousTypeImmo && sousTypeImmo.length > 0; else noSousTypeImmoEdit">
              <ng-select [items]="sousTypeImmo" bindLabel="libelle" bindValue="id" formControlName="id_sous_type_immo"
                [clearable]="true" placeholder="Sélectionnez le Sous Type de l'Immobilisation">
              </ng-select>
              <div
                *ngIf="editImmobilisation.get('id_sous_type_immo')?.invalid && editImmobilisation.get('id_sous_type_immo')?.touched">
                <small class="text-danger"> *Le Sous Type Immo est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun sousTypeImmo n'existe -->
            <ng-template #noSousTypeImmoEdit>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Sous Type Immo. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- Sélectionner un GroupeTypeImmo -->
          <div class="mb-3">
            <label for="groupeTypeImmo" class="form-label">Groupe Type Immobilisation</label>

            <ng-container *ngIf="groupeTypeImmo && groupeTypeImmo.length > 0; else noGroupeTypeImmoEdit">
              <ng-select [items]="groupeTypeImmo" bindLabel="libelle" bindValue="id"
                formControlName="id_groupe_type_immo" [clearable]="true"
                placeholder="Sélectionnez le Groupe type de l'Immobilisation">
              </ng-select>
              <div
                *ngIf="editImmobilisation.get('id_groupe_type_immo')?.invalid && editImmobilisation.get('id_groupe_type_immo')?.touched">
                <small class="text-danger"> *Le Groupe Type Immo est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun GroupeTypeImmo n'existe -->
            <ng-template #noGroupeTypeImmoEdit>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Groupe Type Immo. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- duree_amorti de l' Immobilisation -->
          <div class="mb-3">
            <label for="duree_amorti" class="form-label">Duree amortie (en ans)</label>
            <input type="text" class="form-control" id="duree_amorti" placeholder="5" autocomplete="off"
              [class.invalid]="editImmobilisation.get('duree_amorti')?.invalid && editImmobilisation.get('duree_amorti')?.touched"
              formControlName="duree_amorti">
            <div
              *ngIf="editImmobilisation.get('duree_amorti')?.invalid && editImmobilisation.get('duree_amorti')?.touched">
              <small
                *ngIf="editImmobilisation.get('duree_amorti')?.invalid && editImmobilisation.get('duree_amorti')?.touched"
                class="text-danger"> *la duree amortie de l'immobilisation est obligatoire</small>
            </div>
          </div>

          <!-- taux_ammortissement de l' Immobilisation -->
          <div class="mb-3">
            <label for="taux_ammortissement" class="form-label">Taux ammortissement (en %)</label>
            <input type="text" class="form-control" id="taux_ammortissement" placeholder="5" autocomplete="off"
              [class.invalid]="editImmobilisation.get('taux_ammortissement')?.invalid && editImmobilisation.get('taux_ammortissement')?.touched"
              formControlName="taux_ammortissement">
            <div
              *ngIf="editImmobilisation.get('taux_ammortissement')?.invalid && editImmobilisation.get('taux_ammortissement')?.touched">
              <small
                *ngIf="editImmobilisation.get('taux_ammortissement')?.invalid && editImmobilisation.get('taux_ammortissement')?.touched"
                class="text-danger"> *le taux d'ammortissement de l'immobilisation est obligatoire</small>
            </div>
          </div>

          <!-- duree_ammortissement de l' Immobilisation -->
          <div class="mb-3">
            <label for="duree_ammortissement" class="form-label">Duree ammortissement (en ans)</label>
            <input type="text" class="form-control" id="duree_ammortissement" placeholder="5" autocomplete="off"
              [class.invalid]="editImmobilisation.get('duree_ammortissement')?.invalid && editImmobilisation.get('duree_ammortissement')?.touched"
              formControlName="duree_ammortissement">
            <div
              *ngIf="editImmobilisation.get('duree_ammortissement')?.invalid && editImmobilisation.get('duree_ammortissement')?.touched">
              <small
                *ngIf="editImmobilisation.get('duree_ammortissement')?.invalid && editImmobilisation.get('duree_ammortissement')?.touched"
                class="text-danger"> *la duree de l'ammortissement de l'immobilisation est obligatoire</small>
            </div>
          </div>

          <!-- date_acquisition de l' Immobilisation -->
          <div class="mb-3">
            <label for="date_acquisition" class="form-label">Date d'acquisition</label>
            <input type="text" class="form-control" id="date_acquisition" placeholder="2024-12-31" autocomplete="off"
              [class.invalid]="editImmobilisation.get('date_acquisition')?.invalid && editImmobilisation.get('date_acquisition')?.touched"
              formControlName="date_acquisition">
            <div
              *ngIf="editImmobilisation.get('date_acquisition')?.invalid && editImmobilisation.get('date_acquisition')?.touched">
              <small
                *ngIf="editImmobilisation.get('date_acquisition')?.invalid && editImmobilisation.get('date_acquisition')?.touched"
                class="text-danger"> *la date d'acquisition de l'immobilisation est obligatoire</small>
            </div>
          </div>

          <!-- observation -->
          <div class="mb-3">
            <label for="observation" class="form-label">Observation</label>
            <textarea class="form-control" id="observation" rows="5"
              [class.invalid]="editImmobilisation.get('observation')?.invalid && editImmobilisation.get('observation')?.touched"
              placeholder="Entrez votre observation ici..." formControlName="observation"></textarea>
            <div *ngIf="editImmobilisation.get('observation')?.invalid && editImmobilisation.get('observation')?.touched">
              <small
                *ngIf="editImmobilisation.get('observation')?.invalid && editImmobilisation.get('observation')?.touched"
                class="text-danger"> *l' observation est obligatoire</small>
            </div>
          </div>
          <!-- Sélectionner un StatusImmo -->
          <div class="mb-3">
            <label for="statusImmo" class="form-label">Status</label>

            <ng-container *ngIf="statusImmo && statusImmo.length > 0; else noStatusImmoEdit">
              <ng-select [items]="statusImmo" bindLabel="libelle_status_immo" bindValue="id"
                formControlName="id_status_immo" [clearable]="true" placeholder="Sélectionnez le Status">
              </ng-select>
              <div
                *ngIf="editImmobilisation.get('id_status_immo')?.invalid && editImmobilisation.get('id_status_immo')?.touched">
                <small class="text-danger"> *Le status est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun StatusImmo n'existe -->
            <ng-template #noStatusImmoEdit>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Status. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <div class="mb-3">
            <label class="form-label">État</label>
            <ng-select [items]="etatOptions" formControlName="etat" [clearable]="true"
              placeholder="Sélectionnez l'état">
            </ng-select>

            <div *ngIf="editImmobilisation.get('etat')?.invalid && editImmobilisation.get('etat')?.touched">
              <small class="text-danger"> *L'état est obligatoire</small>
            </div>
          </div>


          <!-- isVehicule  ?? -->
          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="checkDefault" (change)="onCheckboxEditChange($event)" [checked]="editImmobilisation.get('isVehicule')?.value === 1">
            <label class="form-check-label" for="checkDefault">
              Cette Immobilisation est une voiture ?
            </label>
          </div>

          <!-- Sélectionner un le véhicule si l'immo est un véhicule -->
          <div class="mb-3" *ngIf="editImmobilisation.get('isVehicule')?.value === 1">
            <label for="vehicule_id" class="form-label">Immatriculation du véhicule</label>

            <ng-container *ngIf="vehicules && vehicules.length > 0; else noVehiculeEdit">
              <ng-select [items]="vehicules" bindLabel="immatriculation" bindValue="id"
                formControlName="vehicule_id" [clearable]="true" placeholder="Sélectionnez l'immatriculation du véhicule">
              </ng-select>
              <div
                *ngIf="editImmobilisation.get('vehicule_id')?.invalid && editImmobilisation.get('vehicule_id')?.touched">
                <small class="text-danger"> *l'immatriculation du véhicule est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun Vehicule n'existe -->
            <ng-template #noVehiculeEdit>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Véhicule. Veuillez en créer.
              </div>
            </ng-template>
          </div>



          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">
              <div class="spinner-border spinner-border-sm text-light d-none" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Modifier
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /edit IMMO Modal -->


<!-- delete immo Modal -->
<div id="delete_immobilisation" class="modal fade" tabindex="-1" aria-labelledby="deleteImmobilisationLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="editImmobilisationLabel">Suppression Immobilisation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="deleteImmobilisation" (ngSubmit)="onClickSubmitDeleteImmobilisation()">
          <div class="mb-3">
            <p class="text-secondary">Voulez-vous vraiment supprimer cette Immobilisation ?</p>
          </div>
          <input type="hidden" formControlName="id">
          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-danger">
              <div class="spinner-border spinner-border-sm text-light d-none spinnerDelete" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Supprimer
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /delete immo  Modal -->
