<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Rôles et permissions</a></li>
    <li class="breadcrumb-item active" aria-current="page">Rôles</li>
  </ol>
</nav>

<ngb-alert *ngIf="alertAjoutVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Rôle ajouté avec succès !
</ngb-alert>
<ngb-alert *ngIf="alertModifVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Rôle modifié avec succès !
</ngb-alert>
<ngb-alert *ngIf="alertSuppVisible" [dismissible]="false" class="alerte" [type]="'danger'">
  Rôle supprimé avec succès !
</ngb-alert>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <h4 class="card-title">Gestion des Rôles</h4>
          <p class="text-secondary">Liste et gestion des rôles des utilisateurs</p>
        </div>
        <button type="button" class="btn btn-primary align-self-center" data-bs-toggle="modal"
          data-bs-target="#add_role">
          <i class="fas fa-plus"></i> Ajouter un Rôle
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Liste des Rôles</h6>
        <div class="row">
          <div class="col-xl-3 col-md-4">
            <input type="text" class="form-control form-control-sm" placeholder="Rechercher..."
              (keyup)="updateFilter($event)" />
          </div>
        </div>
        <div class="table-responsive">
          <ngx-datatable #table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" rowHeight="auto" [scrollbarH]="true">

            <ngx-datatable-column name="N°" [width]="50">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ rowIndex + 1 }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Libellé du Rôle" prop="libelle_role"></ngx-datatable-column>

            <ngx-datatable-column name="Date de création" prop="created_at">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date:'dd/MM/yyyy HH:mm:ss' }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Actions">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div ngbDropdown container="body" placement="bottom-right" class="mb-2">
                  <button class="no-dropdown-toggle-icon btn btn-primary" ngbDropdownToggle id="dropdownBasic_{{row.id}}"
                  [disabled]="row.libelle_role === 'Super Admin' || row.libelle_role === 'Admin' || row.libelle_role === 'Manager'">
                    <i class="icon-lg text-white pb-3px" data-feather="more-vertical" appFeatherIcon></i>
                  </button>
                  <div ngbDropdownMenu [attr.aria-labelledby]="'dropdownBasic_' + row.id">
                    <a ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal"
                       data-bs-target="#edit_role" (click)="getEditForm(row)">
                      <i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span>Modifier</span>
                    </a>
                    <a ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal"
                       data-bs-target="#delete_role" (click)="getDeleteForm(row)">
                      <i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span>Supprimer</span>
                    </a>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="add_role" class="modal fade" tabindex="-1" aria-labelledby="addRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRoleModalLabel">Ajouter un Rôle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="addRoleForm" (ngSubmit)="onClickSubmitAddRole()" novalidate>
          <div class="mb-3">
            <label for="roleName" class="form-label">Libellé du Rôle <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="roleName" placeholder="Entrez le libellé du rôle"
              autocomplete="off"
              [class.is-invalid]="addRoleForm.get('libelle_role')?.invalid && addRoleForm.get('libelle_role')?.touched"
              formControlName="libelle_role">
            <div *ngIf="addRoleForm.get('libelle_role')?.invalid && addRoleForm.get('libelle_role')?.touched">
              <small *ngIf="addRoleForm.get('libelle_role')?.errors?.['required']" class="text-danger"> *Le libellé du rôle est obligatoire</small>
            </div>
          </div>

          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary" [disabled]="addRoleForm.invalid">
              <div class="spinner-border spinner-border-sm text-light d-none spinner-add-role" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Ajouter
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="edit_role" class="modal fade" tabindex="-1" aria-labelledby="editRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editRoleModalLabel">Modifier le Rôle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="editRoleForm" (ngSubmit)="onClickSubmitEditRole()" novalidate>
          <input type="hidden" formControlName="id">
          <div class="mb-3">
            <label for="editRoleName" class="form-label">Libellé du Rôle <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="editRoleName" placeholder="Entrez le libellé du rôle"
              autocomplete="off"
              [class.is-invalid]="editRoleForm.get('libelle_role')?.invalid && editRoleForm.get('libelle_role')?.touched"
              formControlName="libelle_role">
            <div *ngIf="editRoleForm.get('libelle_role')?.invalid && editRoleForm.get('libelle_role')?.touched">
              <small *ngIf="editRoleForm.get('libelle_role')?.errors?.['required']" class="text-danger"> *Le libellé du rôle est obligatoire</small>
            </div>
          </div>

          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary" [disabled]="editRoleForm.invalid">
              <div class="spinner-border spinner-border-sm text-light d-none spinner-edit-role" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Modifier
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="delete_role" class="modal fade" tabindex="-1" aria-labelledby="deleteRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteRoleModalLabel">Suppression rôle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="deleteRoleForm" (ngSubmit)="onClickSubmitDeleteRole()">
          <div class="mb-3">
            <p class="text-secondary">Voulez-vous vraiment supprimer ce Rôle ?</p>
          </div>
          <input type="hidden" formControlName="id">
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-danger">
              <div class="spinner-border spinner-border-sm text-light d-none spinner-delete-role" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Supprimer
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
