.datatable-scroll .datatable-body-cell.frozen,
.datatable-scroll .datatable-header-cell.frozen {
  background-color: white !important;
  z-index: 2 !important;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.08) !important;
}
