<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Affectations/Transferts</a></li>
  </ol>
</nav>

<!-- Alerte pour ajout avec succès -->
<ngb-alert *ngIf="alertAjoutVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Transfert Ajouté avec succès
</ngb-alert>
<!-- Alerte pour ajout avec succès -->

<!-- Alerte pour mofifier avec succès -->
<ngb-alert *ngIf="alertModifVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Transfert Modifié avec succès
</ngb-alert>
<!-- Alerte pour mofifier avec succès -->

<!-- Alerte pour supprimer avec succès -->
<ngb-alert *ngIf="alertSuppVisible" [dismissible]="false" class="alerte" [type]="'danger'">
  Transfert Supprimée avec succès
</ngb-alert>
<!-- Alerte pour supprimer avec succès -->

<div class="row" *ngIf="hasPageAccess">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <h4 class="card-title">Liste des Affectations/Transferts</h4>
          <p class="text-secondary">Liste des Transferts</p>
        </div>
        <div class="d-flex gap-2">
          <button type="button" class="btn btn-primary align-self-center" data-bs-toggle="modal"
            data-bs-target="#add_transfert" *ngIf="canAddTransfert">
            Ajouter
          </button>
          <button type="button" class="btn btn-outline-primary btn-icon-text align-self-center" (click)="downloadTransfertsPDF()" *ngIf="canExportTransfert">
            <i class="btn-icon-prepend" data-feather="printer" appFeatherIcon></i>
            Imprimer
          </button>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="row" *ngIf="hasPageAccess">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Liste des Affectations/Transferts</h6>
        <div class="row">
          <div class="col-xl-3 col-md-4">
            <input type="text" class="form-control form-control-sm" placeholder="Rechercher..."
              (keyup)="updateFilter($event)" />
          </div>
        </div>
        <div class="table-responsive">
          <ngx-datatable table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" rowHeight="auto" [scrollbarH]="true">
            <ngx-datatable-column name="N°">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ rowIndex + 1 }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Code Immo">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.immobilisation?.code || 'N/A' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Designation Immo">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.immobilisation?.designation || 'Non défini' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Ancien Bureau/Localisation">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.old_bureau?.libelle_bureau || 'Magasin' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nouveau Bureau/Localisation">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.bureau?.libelle_bureau || 'Non défini' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Ancien Personnel">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.old_employe?.fullnameEmploye || 'Non défini' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nouveau Personnel">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.employe?.fullnameEmploye || 'Non défini' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Observation" prop="observation"></ngx-datatable-column>
            <ngx-datatable-column name="Date du Transfert" prop="date_mouvement">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date:'dd/MM/yyyy' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" *ngIf="canModifyTransfert || canDeleteTransfert || canExportTransfert"name="Actions" [frozenRight]="true"
            [width]="130" [headerClass]="'actions-header'"
                                [cellClass]="'actions-cell'">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div ngbDropdown container="body" placement="bottom-right" class="mb-2">
                  <a class="no-dropdown-toggle-icon btn btn-primary" ngbDropdownToggle id="dropdownBasic_{{row.id}}">
                    <i class="icon-lg text-white pb-3px" data-feather="more-vertical" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu [attr.aria-labelledby]="'dropdownBasic_' + row.id">
                    <a ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal"
                      data-bs-target="#edit_transfert" (click)="getEditForm(row)" *ngIf="canModifyTransfert">
                      <i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span>Modifier</span>
                    </a>
                    <a ngbDropdownItem class="d-flex align-items-center" data-bs-target="#delete_transfert" (click)="getDeleteForm(row)" *ngIf="canDeleteTransfert">
                      <i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span>Supprimer</span>
                    </a>
                    <!-- Nouvelle action Imprimer -->
                    <a ngbDropdownItem class="d-flex align-items-center" (click)="downloadSingleTransfertPDF(row.id)" *ngIf="canExportTransfert">
                      <i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span>Imprimer</span>
                    </a>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Transfert Modal -->
<div id="add_transfert" class="modal fade" tabindex="-1" aria-labelledby="addTransfertLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="addTransfertLabel">Ajouter un Transfert / Affectation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="addTransfert" (ngSubmit)="onClickSubmitAddTransfert()"
          novalidate>

          <!-- Sélectionner immo -->
          <div class="mb-3">
            <label for="immo_id" class="form-label">Immobilisation <span class="text-danger">*</span></label>

            <ng-container *ngIf="immobilisations && immobilisations.length > 0; else noimmobilisation">
              <ng-select [items]="immobilisations" bindLabel="code" bindValue="id" formControlName="immo_id"
                [clearable]="true" placeholder="Sélectionnez l'immobilisation" (change)="updateOldInfo()">
              </ng-select>

              <div *ngIf="addTransfert.get('immo_id')?.invalid && addTransfert.get('immo_id')?.touched">
                <small class="text-danger"> *L'immobilisation est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun Immo n'existe -->
            <ng-template #noimmobilisation>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucune Immobilisation. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- old_bureau_id -->
          <div class="mb-3">
            <label for="old_bureau_id" class="form-label">Ancien Bureau/Localisation</label>
            <input type="text" class="form-control" id="old_bureau_id" placeholder="" autocomplete="off"
              [class.invalid]="addTransfert.get('old_bureau_id')?.invalid && addTransfert.get('old_bureau_id')?.touched"
              formControlName="old_bureau_id" readonly>
            <div *ngIf="addTransfert.get('old_bureau_id')?.invalid && addTransfert.get('old_bureau_id')?.touched">
              <small *ngIf="addTransfert.get('old_bureau_id')?.invalid && addTransfert.get('old_bureau_id')?.touched"
                class="text-danger"> </small>
            </div>
          </div>

          <!-- old_employe_id -->
          <div class="mb-3">
            <label for="old_employe_id" class="form-label">Ancien Personnel</label>
            <input type="text" class="form-control" id="old_employe_id" placeholder="" autocomplete="off"
              [class.invalid]="addTransfert.get('old_employe_id')?.invalid && addTransfert.get('old_employe_id')?.touched"
              formControlName="old_employe_id" readonly>
            <div *ngIf="addTransfert.get('old_employe_id')?.invalid && addTransfert.get('old_employe_id')?.touched">
              <small *ngIf="addTransfert.get('old_employe_id')?.invalid && addTransfert.get('old_employe_id')?.touched"
                class="text-danger"> </small>
            </div>
          </div>

          <!-- Sélectionner nouveau bureau -->
          <div class="mb-3">
            <label for="bureau_id" class="form-label">Nouveau Bureau/Localisation <span class="text-danger">*</span></label>

            <ng-container *ngIf="bureaux && bureaux.length > 0; else nobureaux">
              <ng-select [items]="bureaux" bindLabel="libelle_bureau" bindValue="id" formControlName="bureau_id"
                [clearable]="true" placeholder="Sélectionnez le nouveau bureau" (change)="onBureauChange($event)">
              </ng-select>

              <div
                *ngIf="addTransfert.get('bureau_id')?.invalid && addTransfert.get('bureau_id')?.touched">
                <small class="text-danger"> *Le nouveau bureau est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun bureaux n'existe -->
            <ng-template #nobureaux>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Bureau. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- État - AJOUT DE *ngIf="showEtatField" -->
          <div class="mb-3" *ngIf="showEtatField">
            <label class="form-label">État <span class="text-danger">*</span></label>
            <ng-select [items]="etatOptions" formControlName="etat" [clearable]="true"
              placeholder="Sélectionnez l'état">
            </ng-select>

            <div *ngIf="addTransfert.get('etat')?.invalid && addTransfert.get('etat')?.touched">
              <small class="text-danger"> *L'état est obligatoire</small>
            </div>
          </div>

          <!-- Sélectionner nouveau employe -->
          <div class="mb-3">
            <label for="employe_id" class="form-label">Nouveau Personnel</label>
            <ng-container *ngIf="employes && employes.length > 0; else noemployes">
              <ng-select [items]="employes" bindLabel="fullnameEmploye" bindValue="id" formControlName="employe_id"
                [clearable]="true" placeholder="Sélectionnez le nouveau Personnel">
              </ng-select>

              <div
                *ngIf="addTransfert.get('employe_id')?.invalid && addTransfert.get('employe_id')?.touched">
                <small class="text-danger"> *Le nouveau personnel est obligatoire</small>
              </div>
            </ng-container>

            <!-- Message si aucun employés n'existe -->
            <ng-template #noemployes>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Personnel. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- date_mise_en_service -->
          <div class="mb-3">
            <label for="date_mise_en_service" class="form-label">
              Date de Mise en Service
            </label>
            <div class="input-group mb-5">
              <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="mTransfert.toggle()">
                <i data-feather="calendar"></i>
              </button>
              <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd" name="dpTransfert"
                ngbDatepicker #mTransfert="ngbDatepicker"
                formControlName="date_mise_en_service">
            </div>

            <div *ngIf="addTransfert.get('date_mise_en_service')?.invalid && addTransfert.get('date_mise_en_service')?.touched">
              <small class="text-danger"> *la date de mise en service est obligatoire</small>
            </div>
          </div>

          <!-- date_mouvement -->
          <div class="mb-3">
            <label for="date_mouvement" class="form-label">
              Date du Transfert/Affectation <span class="text-danger">*</span>
            </label>
            <div class="input-group mb-5">
              <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="dTransfert.toggle()">
                <i data-feather="calendar"></i>
              </button>
              <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd" name="dpTransfert"
                ngbDatepicker #dTransfert="ngbDatepicker"
                formControlName="date_mouvement">
            </div>

            <div *ngIf="addTransfert.get('date_mouvement')?.invalid && addTransfert.get('date_mouvement')?.touched">
              <small class="text-danger"> *la date du transfert est obligatoire</small>
            </div>
          </div>


          <!-- observation -->
          <div class="mb-3">
            <label for="observation" class="form-label">Observation</label> <span class="text-danger"></span>
            <textarea class="form-control" id="observation" rows="5"
              [class.invalid]="addTransfert.get('observation')?.invalid && addTransfert.get('observation')?.touched"
              placeholder="Entrez votre observation ici..." formControlName="observation"></textarea>
            <div *ngIf="addTransfert.get('observation')?.invalid && addTransfert.get('observation')?.touched">
              <small
                *ngIf="addTransfert.get('observation')?.invalid && addTransfert.get('observation')?.touched"
                class="text-danger"> *l'observation est obligatoire</small>
            </div>
          </div>
          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button
              type="submit"
              class="btn btn-primary"
              (click)="onClickSubmitAddTransfert()"
              [disabled]="isAddingTransfert || addTransfert.invalid" >
              <span *ngIf="isAddingTransfert" class="spinner-border spinner-border-sm text-light me-2 spinner-add-transfert" role="status" aria-hidden="true">
                <span class="visually-hidden">Loading...</span>
              </span>
              {{ isAddingTransfert ? 'Ajout en cours...' : 'Enregistrer' }}
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add Transfert Modal -->

<!-- Edit Transfert Modal -->
<div id="edit_transfert" class="modal fade" tabindex="-1" aria-labelledby="editTransfertLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTransfertLabel">Modifier un Transfert / Affectation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="editTransfert" (ngSubmit)="onClickSubmitEditTransfert()"
          novalidate>
          <!-- Champ ID caché pour la modification -->
          <input type="hidden" formControlName="id">

          <!-- Sélectionner immo -->
          <div class="mb-3">
            <label for="edit_immo_id" class="form-label">Immobilisation <span class="text-danger">*</span></label>

            <ng-container *ngIf="immobilisations && immobilisations.length > 0; else noimmobilisationEdit">
              <ng-select [items]="immobilisations" bindLabel="code" bindValue="id" formControlName="immo_id"
                [clearable]="true" placeholder="Sélectionnez l'immobilisation" (change)="updateOldInfo()">
              </ng-select>

              <div *ngIf="editTransfert.get('immo_id')?.invalid && editTransfert.get('immo_id')?.touched">
                <small class="text-danger"> *L'immobilisation est obligatoire</small>
              </div>
            </ng-container>

            <ng-template #noimmobilisationEdit>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucune Immobilisation. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- old_bureau_id -->
          <div class="mb-3">
            <label for="edit_old_bureau_id" class="form-label">Ancien Bureau/Localisation</label>
            <input type="text" class="form-control" id="edit_old_bureau_id" placeholder="" autocomplete="off"
              [class.invalid]="editTransfert.get('old_bureau_id')?.invalid && editTransfert.get('old_bureau_id')?.touched"
              formControlName="old_bureau_id" readonly>
            <div *ngIf="editTransfert.get('old_bureau_id')?.invalid && editTransfert.get('old_bureau_id')?.touched">
              <small *ngIf="editTransfert.get('old_bureau_id')?.invalid && editTransfert.get('old_bureau_id')?.touched"
                class="text-danger"> </small>
            </div>
          </div>

          <!-- old_employe_id -->
          <div class="mb-3">
            <label for="edit_old_employe_id" class="form-label">Ancien Personnel</label>
            <input type="text" class="form-control" id="edit_old_employe_id" placeholder="" autocomplete="off"
              [class.invalid]="editTransfert.get('old_employe_id')?.invalid && editTransfert.get('old_employe_id')?.touched"
              formControlName="old_employe_id" readonly>
            <div *ngIf="editTransfert.get('old_employe_id')?.invalid && editTransfert.get('old_employe_id')?.touched">
              <small *ngIf="editTransfert.get('old_employe_id')?.invalid && editTransfert.get('old_employe_id')?.touched"
                class="text-danger"> </small>
            </div>
          </div>

          <!-- Sélectionner nouveau bureau -->
          <div class="mb-3">
            <label for="edit_bureau_id" class="form-label">Nouveau Bureau/Localisation <span class="text-danger">*</span></label>

            <ng-container *ngIf="bureaux && bureaux.length > 0; else nobureauxEdit">
              <ng-select [items]="bureaux" bindLabel="libelle_bureau" bindValue="id" formControlName="bureau_id"
                [clearable]="true" placeholder="Sélectionnez le nouveau bureau">
              </ng-select>

              <div
                *ngIf="editTransfert.get('bureau_id')?.invalid && editTransfert.get('bureau_id')?.touched">
                <small class="text-danger"> *Le nouveau bureau est obligatoire</small>
              </div>
            </ng-container>

            <ng-template #nobureauxEdit>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucune Bureau. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- État -->
          <div class="mb-3">
            <label class="form-label">État</label>
            <ng-select [items]="etatOptions" formControlName="etat" [clearable]="true"
              placeholder="Sélectionnez l'état">
            </ng-select>

            <div *ngIf="editTransfert.get('etat')?.invalid && editTransfert.get('etat')?.touched">
              <small class="text-danger"> *L'état est obligatoire</small>
            </div>
          </div>

          <!-- Sélectionner nouveau employe -->
          <div class="mb-3">
            <label for="edit_employe_id" class="form-label">Nouveau Personnel</label>
            <ng-container *ngIf="employes && employes.length > 0; else noemployesEdit">
              <ng-select [items]="employes" bindLabel="fullnameEmploye" bindValue="id" formControlName="employe_id"
                [clearable]="true" placeholder="Sélectionnez le Personnel">
              </ng-select>

              <div
                *ngIf="editTransfert.get('employe_id')?.invalid && editTransfert.get('employe_id')?.touched">
                <small class="text-danger"> *Le nouveau personnel est obligatoire</small>
              </div>
            </ng-container>

            <ng-template #noemployesEdit>
              <div class="alert alert-danger"
                style="padding: 5px 10px; font-size: 14px; line-height: 1.2; height: 40px; display: flex; align-items: center;">
                <i class="feather icon-alert-circle"></i> Aucun Personnel. Veuillez en créer.
              </div>
            </ng-template>
          </div>

          <!-- date_mise_en_service -->
          <div class="mb-3">
            <label for="edit_date_mise_en_service" class="form-label">
              Date de Mise en Service
            </label>
            <div class="input-group mb-5">
              <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="editMTransfert.toggle()">
                <i data-feather="calendar"></i>
              </button>
              <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd" name="dpMTransfertEdit"
                ngbDatepicker #editMTransfert="ngbDatepicker"
                formControlName="date_mise_en_service">
            </div>

            <div *ngIf="editTransfert.get('date_mise_en_service')?.invalid && editTransfert.get('date_mise_en_service')?.touched">
              <small class="text-danger"> *la date de mise en service est obligatoire</small>
            </div>
          </div>

          <!-- date_mouvement -->
          <div class="mb-3">
            <label for="edit_date_mouvement" class="form-label">
              Date du Transfert/Affectation <span class="text-danger">*</span>
            </label>
            <div class="input-group mb-5">
              <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="editDTransfert.toggle()">
                <i data-feather="calendar"></i>
              </button>
              <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd" name="dpDTransfertEdit"
                ngbDatepicker #editDTransfert="ngbDatepicker"
                formControlName="date_mouvement">
            </div>

            <div *ngIf="editTransfert.get('date_mouvement')?.invalid && editTransfert.get('date_mouvement')?.touched">
              <small class="text-danger"> *la date du transfert est obligatoire</small>
            </div>
          </div>


          <!-- observation -->
          <div class="mb-3">
            <label for="edit_observation" class="form-label">Observation</label> <span class="text-danger"></span>
            <textarea class="form-control" id="edit_observation" rows="5"
              [class.invalid]="editTransfert.get('observation')?.invalid && editTransfert.get('observation')?.touched"
              placeholder="Entrez votre observation ici..." formControlName="observation"></textarea>
            <div *ngIf="editTransfert.get('observation')?.invalid && editTransfert.get('observation')?.touched">
              <small
                *ngIf="editTransfert.get('observation')?.invalid && editTransfert.get('observation')?.touched"
                class="text-danger"> *l'observation est obligatoire</small>
            </div>
          </div>
          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button
              type="submit"
              class="btn btn-primary"
              (click)="onClickSubmitEditTransfert()"
              [disabled]="editTransfert.invalid" >
              Modifier
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Transfert Modal -->
<div id="delete_transfert" class="modal fade" tabindex="-1" aria-labelledby="deleteTransfertLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteTransfertLabel">Supprimer Mouvement Sortie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="deleteTransfert" (ngSubmit)="onClickSubmitDeleteTransfert()">
          <input type="hidden" formControlName="id">
          <p>Êtes-vous sûr de vouloir supprimer cette sortie de ticket ?</p>
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-danger">Oui, Supprimer</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Transfert Modal -->
