<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Mouvement Stock</a></li>
      <li class="breadcrumb-item active" aria-current="page">Les demandes</li>
    </ol>
  </nav>
<!-- 🔥 VÉRIFICATION D'ACCÈS À LA PAGE -->
<div class="row" *ngIf="hasPageAccess">

  <div *ngIf="loading">Chargement...</div>

  <ngb-alert *ngIf="alertModifVisible" [dismissible]="false" class="alerte" [type]="'primary'">
    Demande Traité avec succès
  </ngb-alert>
  <ngb-alert *ngIf="alertModifAllVisible" [dismissible]="false" class="alerte" [type]="'primary'">
    Demande Traités avec succès
  </ngb-alert>
  <!-- Alerte pour mofifier avec succès -->

  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <h4 class="card-title">Liste des Demandes de sorties</h4>
          <p class="text-secondary">Liste des Demandes de sorties</p>
        </div>
        <!-- <div class="d-flex gap-2">
          <button type="button" class="btn btn-primary align-self-center" data-bs-toggle="modal"
            data-bs-target="#add_sortie">
            Ajouter
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>


<!-- 🔥 VÉRIFICATION D'ACCÈS À LA PAGE -->
<div class="row" *ngIf="hasPageAccess">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Liste des Demandes de sorties</h6>
        <div class="row d-flex justify-content-between">
          <div class="col-xl-3 col-md-4">
            <input type="text" class="form-control form-control-sm" placeholder="Rechercher..."
              (keyup)="updateFilter($event)" />
          </div>
          <div class="col-xl-3 col-md-4 mb-2">
            <!-- <ng-select [items]="['En attente', 'Refusé', 'Accordé']" bindLabel="" bindValue=""
              [(ngModel)]="selectedStatut" placeholder="Filtrer par statut" (change)="onStatutFilterChange()">
            </ng-select> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<table class="table table-bordered" *ngIf="!loading">
  <thead>
    <tr>
      <th>Code </th>
      <th>Personnel</th>
      <th>Bureau</th>
      <th>Date Demande</th>
      <!-- <th>Date Création</th> -->
      <!-- <th>Statut</th> -->
      <th>Total Articles</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let group of filteredMouvementsGrouped">
      <tr>
        <td>{{ group.code_mouvement }}</td>
        <td>{{ group.personnel }}</td>
        <td>{{ group.bureau }}</td>
        <td>{{ group.dateDemande }}</td>
        <!-- <td>{{ group.dateCreation  }}</td> -->
        <!-- <td>{{ group.statut }}</td> -->
        <td>{{ group.totalArticles }}</td>
        <td>
          <!-- <button class="btn btn-sm btn-primary" (click)="toggleGroup(group.code_mouvement)">
            {{ expandedGroupCode === group.code_mouvement ? 'Fermer' : 'Voir' }}
          </button> -->
          <button class="btn btn-sm btn-primary m-2" (click)="toggleGroup(group.code_mouvement)">
            {{ expandedGroupCode === group.code_mouvement ? '▲' : '👁️' }}
          </button>
          <button *ngIf="canTreatDemande"
        class="btn btn-sm"
        [ngClass]="{
          'btn-warning': isGroupTraitable(group),
          'btn-success': !isGroupTraitable(group)
        }"
        data-bs-toggle="modal"
        data-bs-target="#tout_traiter"
        (click)="openToutTraiterModal(group.code_mouvement)"
        [disabled]="!isGroupTraitable(group)">
  Tout traiter
</button>

        </td>
      </tr>
      <tr *ngIf="expandedGroupCode === group.code_mouvement">
        <td colspan="8" style="padding: 0;">
          <table class="table table-sm table-striped mb-0">
            <thead>
<!--              <button *ngIf="canValidDemande || canAccordDemande || canRefuseDemande" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#tout_traiter"-->
<!--                (click)="openToutTraiterModal(group.code_mouvement)" [disabled]="!isGroupTraitable(group)">-->
<!--                tout traiter-->
<!--              </button>-->

              <tr>
                <th>Code</th>
                <th>Article</th>
                <th>Description</th>
                <th>Quantité Demandée</th>
                <!-- <th>Personnel</th> -->
                <!-- <th>Bureau</th> -->
                <!-- <th>Date Mouvement</th> -->
                <th>Statut</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of group.details">
                <td>{{ detail.article?.code_article || 'Non défini' }}</td>
                <td>{{ detail.article?.libelle || 'N/A' }}</td>
                <td>{{ detail.description }}</td>
                <td>{{ detail.qteDemande }}</td>
                <!-- <td>{{ detail.employe?.fullnameEmploye || 'Non défini' }}</td> -->
                <!-- <td>{{ detail.bureau?.libelle_bureau || 'Non défini' }}</td> -->
                <!-- <td>{{ detail.date_mouvement  }}</td> -->
                <td>{{ detail.statut }}</td>
                <td>
                  <button *ngIf="canValidDemande || canAccordDemande || canRefuseDemande"
        class="btn btn-sm"
        [ngClass]="{
          'btn-warning': detail.statut !== 'Accordé',
          'btn-success': detail.statut === 'Accordé'
        }"
        data-bs-toggle="modal"
        data-bs-target="#edit_statut_sortie"
        (click)="getStatutForm(detail)"
        [disabled]="detail.statut === 'Accordé'">
  {{ detail.statut === 'Accordé' ? 'Traité' : 'À traiter' }}
</button>

                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>




<!-- Edit statut Modal -->
<div id="edit_statut_sortie" class="modal fade" tabindex="-1" aria-labelledby="editStatutSortieLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editStatutSortieLabel">Modifier le Statut de la Demande</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form class="forms-sample" [formGroup]="editStatutSortie" (ngSubmit)="onClickSubmitEditStatutSortie()"
          novalidate>
          <div class="mb-3">
            <label for="statut" class="form-label">Nouveau Statut <span class="text-danger">*</span></label>
            <ng-select [items]="availableStatuts" [clearable]="false"
              placeholder="Sélectionnez le statut" formControlName="statut">
            </ng-select>
            <div *ngIf="editStatutSortie.get('statut')?.invalid && editStatutSortie.get('statut')?.touched">
              <small class="text-danger"> *Le statut est obligatoire</small>
            </div>
          </div>
          <!-- QteDemandé -->
          <div class="mb-3">
            <label for="qteDemande" class="form-label">Quantité demandée <span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="qteDemande" placeholder="1" autocomplete="off"
              [class.invalid]="editStatutSortie.get('qteDemande')?.invalid && editStatutSortie.get('qteDemande')?.touched"
              formControlName="qteDemande" readonly>

          </div>
          <!-- Qte -->
          <div class="mb-3">
            <label for="qte" class="form-label">Confirmez la Quantité <span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="qte" placeholder="0" autocomplete="off"
              [attr.max]="quantiteDisponible" min="1"
              [class.invalid]="editStatutSortie.get('qte')?.invalid && editStatutSortie.get('qte')?.touched"
              formControlName="qte">
            <div class="text-danger mt-2">
              <small>Quantité disponible pour l'article : {{ quantiteDisponible }}</small>
            </div>
            <div *ngIf="editStatutSortie.get('qte')?.invalid && editStatutSortie.get('qte')?.touched">
              <small *ngIf="editStatutSortie.get('qte')?.errors?.['required']" class="text-danger">* La quantité est
                obligatoire</small>
              <small *ngIf="editStatutSortie.get('qte')?.errors?.['min']" class="text-danger">* La quantité doit être au
                moins 1</small>
              <small *ngIf="editStatutSortie.get('qte')?.errors?.['max']" class="text-danger">* La quantité ne peut pas
                dépasser {{ quantiteDisponible }}</small>
            </div>
          </div>
          <!--  date_mouvement -->
          <label for="date_mouvement" class="form-label">Date du mouvement <span class="text-danger">*</span></label>
          <div class="input-group mb-5">
            <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="dAdd2.toggle()">
              <i data-feather="calendar"></i>
            </button>
            <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd" name="dpAdd"
              [(ngModel)]="currentDate" ngbDatepicker #dAdd2="ngbDatepicker" formControlName="date_mouvement">
          </div>

          <div
            *ngIf="editStatutSortie.get('date_mouvement')?.invalid && editStatutSortie.get('date_mouvement')?.touched">
            <small class="text-danger"> *la date de la demande est obligatoire</small>
          </div>

          <input type="hidden" formControlName="id">

          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary" [disabled]="isStatutModifLoading">
              <div class="spinner-border spinner-border-sm text-light me-2" [class.d-none]="!isStatutModifLoading" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              {{ isStatutModifLoading ? 'Traitement...' : 'Confirmer' }}
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Edit statut Modal -->

<!-- Edit all -->
<div id="tout_traiter" class="modal fade" tabindex="-1" aria-labelledby="tout_traiter" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tout_traiter">Traiter la Demande</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form class="forms-sample" [formGroup]="edit_all" (ngSubmit)="onClickSubmitEditAllSortie()" novalidate>

          <div class="mb-3">
            <label for="statut" class="form-label">Nouveau Statut <span class="text-danger">*</span></label>
            <ng-select [items]="['En attente', 'Refusé', 'Accordé']" [clearable]="false"
              placeholder="Sélectionnez le statut" formControlName="statut">
            </ng-select>
            <div *ngIf="editStatutSortie.get('statut')?.invalid && editStatutSortie.get('statut')?.touched">
              <small class="text-danger"> *Le statut est obligatoire</small>
            </div>
          </div>
          <!--  date_mouvement -->
          <label for="date_mouvement" class="form-label">Date du mouvement <span class="text-danger">*</span></label>
          <div class="input-group mb-5">
            <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="dAdd3.toggle()">
              <i data-feather="calendar"></i>
            </button>
            <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd" name="dpAdd"
              [(ngModel)]="currentDate" ngbDatepicker #dAdd3="ngbDatepicker" formControlName="date_mouvement">
          </div>

          <div *ngIf="edit_all.get('date_mouvement')?.invalid && edit_all.get('date_mouvement')?.touched">
            <small class="text-danger"> *la date de la demande est obligatoire</small>
          </div>
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary" [disabled]="isProcessingAll">
              <div class="spinner-border spinner-border-sm text-light me-2" [class.d-none]="!isProcessingAll" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              {{ isProcessingAll ? 'Traitement en cours...' : 'Confirmer' }}
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Edit statut Modal -->
