<nav class="sidebar">
  <div class="sidebar-header" style="background-color:white;">

    <a routerLink="/" class="sidebar-brand d-flex align-items-center">
      <img
        [src]="logoUrl || 'public/images/logo_bg.png'" 
        alt="Logo du site"
        style="height: 40px; width: auto; object-fit: contain; margin-right: 8px;"
        (error)="logoUrl = 'public/images/logo_bg.png'"
      />

      <!-- <span class="fw-bold">{{ siteName }}</span>  -->
    </a>

    <div class="sidebar-toggler" #sidebarToggler (click)="toggleSidebar($event)">
      <span style="background-color:green !important"></span>
      <span style="background-color:green !important"></span>
      <span style="background-color:green !important"></span>
    </div>
    
  </div>
  <hr style="border: solid; height: 3px; background-color: #00993E;" class="mt-0">
  <div class="sidebar-body" (mouseenter)="operSidebarFolded()" (mouseleave)="closeSidebarFolded()">

    <ng-scrollbar orientation="vertical" appearance="compact">

      <ul class="sidebar-nav metismenu" id="sidebar-menu" #sidebarMenu>

        @for (item of filteredMenu; track item.label) {

          @if (item.isTitle) {
            <li class="nav-item nav-category">{{ item.label }}</li>
          }

          @else {
            <li class="nav-item">
              @if (hasItems(item)) {
                <a class="nav-link" href="javascript:void(0);">
                  <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon></i>
                  <span class="link-title"> {{ item.label }}</span>
                  <span class="link-arrow" data-feather="chevron-down" appFeatherIcon></span>
                </a>
                <ul class="sidebar-nav sub-menu nav-second-level" aria-expanded="false">
                  @for (subitem of item.subItems; track subitem.label) {
                    <li class="nav-item" [ngClass]="{'side-nav-item': hasItems(subitem)}">
                      @if (hasItems(subitem)) {
                        <a class="nav-link side-nav-link-a-ref" href="javascript:void(0);">
                          <span class="link-title"> {{ subitem.label }}</span>
                          <span class="link-arrow" data-feather="chevron-down" appFeatherIcon></span>
                        </a>
                        <ul class="sidebar-nav sub-menu nav-third-level" aria-expanded="false">
                          @for (subSubitem of subitem.subItems; track subSubitem.label) {
                            <li class="nav-item">
                              <a class="nav-link nav-link-ref" [routerLink]="subSubitem.link" [routerLinkActive]="['active']">
                                {{ subSubitem.label }}
                              </a>
                            </li>
                          }
                        </ul>
                      }
                      @else {
                        <a class="nav-link nav-link-ref" [routerLink]="subitem.link">
                          {{ subitem.label }}
                        </a>
                      }
                    </li>
                  }
                </ul>
              }
              @else {
                <a class="nav-link nav-link-ref" [routerLink]="item.link">
                  <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon></i>
                  <span class="link-title"> {{ item.label }}</span>
                  @if (item.badge) {
                    <span class="badge bg-{{item.badge.variant}}">{{item.badge.text}}</span>
                  }
                </a>
              }
            </li>
          }

        }

        </ul>

    </ng-scrollbar>

    </div>
</nav>