<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Paramètres</a></li>
    <li class="breadcrumb-item active" aria-current="page">coupon tickets</li>
  </ol>
</nav>

<!-- Alerte pour ajout avec succès -->
<ngb-alert *ngIf="alertAjoutVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Coupon ticket Ajouté avec succès
</ngb-alert>
<!-- Alerte pour ajout avec succès -->

<!-- Alerte pour mofifier avec succès -->
<ngb-alert *ngIf="alertModifVisible" [dismissible]="false" class="alerte" [type]="'primary'">
  Coupon ticket Mofifié avec succès
</ngb-alert>
<!-- Alerte pour mofifier avec succès -->

<!-- Alerte pour supprimer avec succès -->
<ngb-alert *ngIf="alertSuppVisible" [dismissible]="false" class="alerte" [type]="'danger'">
  Coupon ticket Supprimé avec succès
</ngb-alert>
<!-- Alerte pour supprimer avec succès -->

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div>
          <h4 class="card-title">Liste des Coupon tickets</h4>
          <p class="text-secondary">Liste des Coupon tickets</p>
        </div>
        <button type="button" class="btn btn-primary align-self-center" data-bs-toggle="modal"
          data-bs-target="#add_couponTicket">
          Ajouter
        </button>

      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Liste des Coupon tickets</h6>
        <div class="row">
          <div class="col-xl-3 col-md-4">
            <input type="text" class="form-control form-control-sm" placeholder="Rechercher..."
              (keyup)="updateFilter($event)" />
          </div>
        </div>
        <div class="table-responsive">
          <ngx-datatable table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" rowHeight="auto" [scrollbarH]="true">
            <!-- <ngx-datatable-column name="ID" prop="id"></ngx-datatable-column> -->
            <ngx-datatable-column name="N°">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ rowIndex + 1 }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nom" prop="libelle"></ngx-datatable-column>
            <ngx-datatable-column name="Valeur" prop="valeur"></ngx-datatable-column>
            <ngx-datatable-column name="Date de création" prop="created_at">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date:'dd/MM/yyyy HH:mm:ss' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div ngbDropdown container="body" placement="bottom-right">
                  <button class="btn btn-primary" id="dropdownBasic_{{row.id}}" ngbDropdownToggle></button>
                  <div ngbDropdownMenu [attr.aria-labelledby]="'dropdownBasic_' + row.id">
                    <button ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#edit_couponTicket" (click)="getEditForm(row)">
                      <i class="feather icon-edit me-2"></i> Modifier
                    </button>
                    <button ngbDropdownItem class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_couponTicket" (click)="getDeleteForm(row)">
                      <i class="feather icon-trash-2 me-2"></i> Supprimer
                    </button>

                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Add couponTicket Modal -->
<div id="add_couponTicket" class="modal fade" tabindex="-1" aria-labelledby="addcouponTicketLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="addcouponTicketLabel">Ajouter un Coupon Ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="addCouponTicket" (ngSubmit)="onClickSubmitAddCouponTicket()" novalidate>
          <!-- Nom du coupon -->
          <div class="mb-3">
            <label for="couponTicketName" class="form-label">Nom du Coupon Ticket</label>
            <input type="text" class="form-control" id="couponTicketName" placeholder="Entrez le nom du coupon ticket"
              autocomplete="off"
              [class.invalid]="addCouponTicket.get('libelle')?.invalid && addCouponTicket.get('libelle')?.touched"
              formControlName="libelle">
            <div *ngIf="addCouponTicket.get('libelle')?.invalid && addCouponTicket.get('libelle')?.touched">
              <small *ngIf="addCouponTicket.get('libelle')?.invalid && addCouponTicket.get('libelle')?.touched"
                class="text-danger"> *le nom du coupon ticket est obligatoire</small>
            </div>
          </div>
          <!-- Valeur du coupon -->
          <div class="mb-3">
            <label for="couponTicketValeur" class="form-label">Valeur du Coupon Ticket</label>
            <input type="text" class="form-control" id="couponTicketValeur" placeholder="2000"
              autocomplete="off"
              [class.invalid]="addCouponTicket.get('valeur')?.invalid && addCouponTicket.get('valeur')?.touched"
              formControlName="valeur">
            <div *ngIf="addCouponTicket.get('valeur')?.invalid && addCouponTicket.get('valeur')?.touched">
              <small *ngIf="addCouponTicket.get('valeur')?.invalid && addCouponTicket.get('valeur')?.touched"
                class="text-danger"> *la valeur du coupon ticket est obligatoire</small>
            </div>
          </div>

          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">
              <div class="spinner-border spinner-border-sm text-light d-none" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Ajouter
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add couponTicket Modal -->




<!-- edit coupon ticket Modal -->
<div id="edit_couponTicket" class="modal fade" tabindex="-1" aria-labelledby="editcouponTicketLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="editcouponTicketLabel">Modification Coupon Ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="editCouponTicket" (ngSubmit)="onClickSubmitEditCouponTicket()" novalidate>
          <!-- Nom du coupon -->
          <div class="mb-3">
            <input type="hidden" formControlName="id">
            <label for="couponTicketName" class="form-label">Nom du Coupon Ticket</label>
            <input type="text" class="form-control" id="couponTicketName" placeholder="Entrez le nom du coupon ticket"
              autocomplete="off"
              [class.invalid]="editCouponTicket.get('libelle')?.invalid && editCouponTicket.get('libelle')?.touched"
              formControlName="libelle">
            <div *ngIf="editCouponTicket.get('libelle')?.invalid && editCouponTicket.get('libelle')?.touched">
              <small *ngIf="editCouponTicket.get('libelle')?.invalid && editCouponTicket.get('libelle')?.touched"
                class="text-danger"> *le nom est obligatoire</small>
            </div>
          </div>

          <!-- Valeur du coupon -->
          <div class="mb-3">
            <label for="couponTicketValeur" class="form-label">Valeur du Coupon Ticket</label>
            <input type="text" class="form-control" id="couponTicketValeur" placeholder="2000"
              autocomplete="off"
              [class.invalid]="editCouponTicket.get('valeur')?.invalid && editCouponTicket.get('valeur')?.touched"
              formControlName="valeur">
            <div *ngIf="editCouponTicket.get('valeur')?.invalid && editCouponTicket.get('valeur')?.touched">
              <small *ngIf="editCouponTicket.get('valeur')?.invalid && editCouponTicket.get('valeur')?.touched"
                class="text-danger"> *la valeur du coupon ticket est obligatoire</small>
            </div>
          </div>

          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">
              <div class="spinner-border spinner-border-sm text-light d-none spinnerModif" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Modifier
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /edit coupon  Modal -->




<!-- delete coupon Modal -->
<div id="delete_couponTicket" class="modal fade" tabindex="-1" aria-labelledby="deletecouponTicketLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="editcouponTicketLabel">Suppression Coupon Ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Contenu du modal -->
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="deleteCouponTicket"  (ngSubmit)="onClickSubmitDeleteCouponTicket()">
          <div class="mb-3">
            <p class="text-secondary">Voulez-vous vraiment supprimer ce Coupon Ticket ?</p>
          </div>
          <input type="hidden" formControlName="id">
          <!-- Boutons centrés -->
          <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-danger">
              <div class="spinner-border spinner-border-sm text-light d-none spinnerDelete" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Supprimer
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /delete coupon Modal -->
